html,
body {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.hero1,
.hero3,
.hero5 {
  background: var(--color-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero1 p,
.hero3 p,
.hero5 p {
  max-width: 1000px;
  line-height: 1.6;
  font-size: 2rem;
  text-align: center;
  padding: 0 40px;
  color: white;
  font-weight: 500;
}

.hero1 p span,
.hero3 p span,
.hero5 p span {
  color: white;
}

.hero2 {
  background: var(--color-black-3);
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/image-1.webp");
  background-size: cover;
  background-position: center;
}

.hero4 {
  background: var(--color-black-3);
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/image-57.webp");
  background-size: cover;
  background-position: center;
}

.blocks-container {
  position: absolute;
  width: 100%;
  height: 12vw;
  min-height: 80px;
  max-height: 160px;
}

.blocks-container.top {
  top: 0;
}

.blocks-container.bottom {
  bottom: 0;
}

.blocks-row {
  width: 100%;
  height: 3vw;
  min-height: 20px;
  max-height: 40px;
  overflow: hidden;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  transition: opacity 100ms;
}

.blocks-container.top .blocks-row .block {
  opacity: 1;
}

.blocks-container.bottom .blocks-row .block {
  opacity: 0;
}

.hero2 .blocks-container.top .blocks-row .block {
  background: var(--color-background);
}

.hero2 .blocks-container.bottom .blocks-row .block {
  background: var(--color-background);
}

.hero4 .blocks-container.top .blocks-row .block {
  background: var(--color-background);
}

.hero4 .blocks-container.bottom .blocks-row .block {
  background: var(--color-background);
}

@media screen and (max-width: 650px) {
  .hero1 p,
  .hero3 p,
  .hero5 p {
    line-height: 2;
    font-size: 1rem;
    padding: 0 40px;
  }

  section {
    min-height: 70vh;
  }
}
