html,
body {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.hero1,
.hero3,
.hero5 {
  background: var(--color-black-1);
}

.hero2,
.hero4 {
  background: var(--color-black-3);
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/textures/ChatGPT\ Image\ Sep\ 20\,\ 2025\,\ 05_05_21\ PM.png");
  background-size: cover;
  background-position: center;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "JetBrains Mono", monospace;
  font-size: 2vw;
  font-weight: 300;
  letter-spacing: -5%;
  text-transform: uppercase;
  pointer-events: none;
}

.hero1 h1,
.hero3 h1,
.hero5 h1 {
  color: var(--color-black-5);
}

.hero2 h1,
.hero4 h1 {
  color: white;
  opacity: 0.5;
}

.blocks-container {
  position: absolute;
  width: 100%;
  height: 100px;
}

.blocks-container.top {
  top: 0;
}

.blocks-container.bottom {
  bottom: 0;
}

.blocks-row {
  width: 100%;
  height: 25px;
  overflow: hidden;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  transition: opacity 100ms;
}

.blocks-container.top .blocks-row .block {
  opacity: 1;
}

.blocks-container.bottom .blocks-row .block {
  opacity: 0;
}

.hero2 .blocks-container.top .blocks-row .block {
  background: var(--color-black-1);
}

.hero2 .blocks-container.bottom .blocks-row .block {
  background: var(--color-black-1);
}

.hero4 .blocks-container.top .blocks-row .block {
  background: var(--color-black-1);
}

.hero4 .blocks-container.bottom .blocks-row .block {
  background: var(--color-black-1);
}
