.main-container {
  width: 100vw;
  min-height: var(--body-height-nav);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.media-container {
  display: flex;
  gap: 1rem;
  margin: 0 28px;
}

.base-img {
  position: relative;
  flex: 1;
  max-width: 400px;
  max-height: 500px;
}

.base-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: var(--rounded-corners-large);
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: ellipse(100% 0% at 50% 0%);
  transition: clip-path 1s cubic-bezier(0.65, 0.05, 0, 1);
  -webkit-touch-callout: none;
  user-select: none;
}

.hover-img img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  object-fit: cover;
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
}

.base-img.active .hover-img {
  clip-path: ellipse(80% 100% at 50% 50%);
}

.mobile-message {
  display: none;
  margin-top: 16px;
  color: var(--color-black-9);
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: -0.5px;
  padding: var(--buttonPadding-vertical) var(--buttonPadding-horizontal);
  border-radius: var(--filter-border-radius);
  border: var(--filter-border);
}

@media (hover: hover) {
  .base-img:hover .hover-img {
    clip-path: ellipse(80% 100% at 50% 50%);
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    min-height: 100dvh;
  }

  .base-img:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .base-img:nth-child(2) {
    display: none;
  }

  .base-img {
    max-width: 600px;
  }

  .mobile-message {
    display: block;
  }
}
