.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-container {
  display: flex;
  gap: 1rem;
  margin: 0 28px;
}

.base-img {
  position: relative;
  flex: 1;
  max-width: 400px;
  max-height: 500px;
}

.base-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: var(--rounded-corners-large);
}

.hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: ellipse(100% 0% at 50% 0%);
  transition: clip-path 1s cubic-bezier(0.65, 0.05, 0, 1);
}

.hover-img img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  object-fit: cover;
}

.base-img:hover .hover-img,
.base-img.active .hover-img {
  clip-path: ellipse(80% 100% at 50% 50%);
}

@media screen and (max-width: 1000px) {
  .main-container {
    min-height: 100dvh;
  }

  .base-img:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .base-img:nth-child(2) {
    display: none;
  }

  .base-img {
    max-width: 600px;
  }
}
