:root {
}

.container.dialogue-box-container {
}

.dialogue-box {
}

.top-bar {
}

.top-bar-title {
}

.top-bar-close-icon {
}

.dialogue-box-content {
}

.avatars {
}

.avatar-image {
}

.avatar-text {
}

.cta {
}

.dropdown-selector {
}

.dropdown-count {
}

.dropdown-icon {
}

.dropdown-icon svg {
}
