.gallery-container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  width: 80vw;
  height: 60vh;
  max-height: 800px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.image-container {
  height: 100%;
  flex: 1;
  transition: flex 0.3s ease;
  transform-origin: center center;
}

.image-container.active {
  flex: 3;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--rounded-corners-med);
}

@media (max-width: 1300px) {
  .image-container:nth-child(9) {
    display: none;
  }
  .image-container:nth-child(10) {
    display: none;
  }
}

@media (max-width: 1000px) {
  .image-container:nth-child(6) {
    display: none;
  }
  .image-container:nth-child(7) {
    display: none;
  }
  .image-container:nth-child(8) {
    display: none;
  }
}

@media (max-width: 650px) {
  .gallery-container {
  height: 100dvh;
  }

  .gallery {
  max-height: 250px;
  width: 100%;
  margin: 23px;
  }

  .image-container.active {
  flex: 4;
}

  .image-container:nth-child(5) {
    display: none;
  }
}