.dialogue-box-wrapper {
  width: 100%;
  min-height: var(--body-height-nav-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-box-container {
  border-radius: var(--rounded-corners-huge);
  background-color: var(--color-black-1c);
  overflow: hidden;
}

.dialogue-box {
  position: relative;
  padding: 40px;
}

.top-bar {
  position: relative;
  width: 100%;
  height: 75px;
  background: var(--color-black-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar.inactive {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.top-bar-title {
  font-size: 1.4rem;
  color: white;
}

.top-bar-close-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-black-7);
  height: 14px;
}

.top-bar-close-icon svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatars {
}

.avatars ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.avatars ul li {
  cursor: pointer;
}

.avatars ul li:nth-child(n + 5) {
  background-color: aquamarine;
}

.avatar-image {
  width: 85px;
  aspect-ratio: 1/1;
  border: 3px solid var(--color-white-c);
  border-radius: 100%;
}

.avatar-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatar-text {
  font-size: 1rem;
  color: var(--color-black-7);
  text-align: center;
  margin-top: 10px;
}

.avatar-text.inactive {
  opacity: 0;
  pointer-events: none;
  height: 0;
  margin-top: 0;
}

.cta {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: var(--color-black-3);
  color: white;
  border-radius: var(--rounded-corners-med);
  cursor: pointer;
  padding-top: 40px;
}

.cta.inactive {
  opacity: 0;
  height: 0;
  pointer-events: none;
  padding-top: 0;
}
