.accordian-container {
  width: 100vw;
  min-height: var(--body-height-nav-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--horizontal-page-padding);
}

.card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 13px;
  padding: 15px 22px;
  border: 0.5px solid var(--color-black-2);
  border-radius: var(--rounded-corners-small);
  background-color: var(--color-black-1);
  color: #fff;
}

.card:last-child {
  margin-bottom: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.card-body {
  height: 0;
  opacity: 0;
  color: var(--color-white-b);
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 0;
  margin-top: 0;
  transition:
    height 0.4s ease,
    opacity 0.4s ease,
    margin-bottom 0.4s ease,
    margin-top 0.4s ease;
}

.card-body.show {
  height: auto;
  opacity: 100%;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.plus-icon {
  color: var(--color-black-4);
  cursor: pointer;
  transition: transform 0.4s ease;
}

.plus-icon.active {
  transform: rotateZ(45deg);
}

.plus-icon svg {
  height: 2rem;
  object-fit: contain;
}

@media screen and (max-width: 650px) {
  .accordian-container {
    min-height: var(--body-height-nav-mobile);
  }

  .card-body {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}
