:root {
  --dialogue-box-padding: 30px;
  --transition-time: 20s;
  --transition-easing: cubic-bezier(0.16, 1, 0.3, 1);
}

.dialogue-box-wrapper {
  width: 100%;
  min-height: var(--body-height-nav-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-box-container {
  border-radius: var(--rounded-corners-huge);
  background-color: var(--color-black-1c);
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  transition:
    border-radius var(--transition-time) var(--transition-easing),
    grid-template-rows var(--transition-time) var(--transition-easing);
}

.dialogue-box {
  position: relative;
  padding: var(--dialogue-box-padding);
  display: block;
  transition: padding var(--transition-time) var(--transition-easing);
}

.top-bar {
  position: relative;
  width: 100%;
  min-height: 75px;
  background: var(--color-black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition:
    min-height var(--transition-time) var(--transition-easing),
    opacity var(--transition-time) var(--transition-easing);
}

.top-bar-title {
  font-size: 1.4rem;
  color: white;
}

.top-bar-close-icon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-black-7);
  height: 14px;
  cursor: pointer;
}

.top-bar-close-icon svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.avatars {
  margin-bottom: var(--dialogue-box-padding);
  transition: margin-bottom var(--transition-time) var(--transition-easing);
}

.avatars ul li {
  cursor: pointer;
  transition: margin-left var(--transition-time) var(--transition-easing);
}

.avatars-row-1 ul,
.avatars-row-2 ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  transition:
    gap var(--transition-time) var(--transition-easing),
    margin-bottom var(--transition-time) var(--transition-easing),
    max-width var(--transition-time) var(--transition-easing);
}

.avatars-row-1 ul {
  margin-bottom: 20px;
}

.avatars-row-2 {
  transition:
    opacity var(--transition-time) var(--transition-easing),
    height var(--transition-time) var(--transition-easing);
}

.avatar-image {
  width: 85px;
  aspect-ratio: 1/1;
  border: 3px solid var(--color-white-c);
  border-radius: 100%;
}

.avatar-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatar-text {
  font-size: 1rem;
  color: var(--color-black-7);
  text-align: center;
  margin-top: 10px;
  transition:
    opacity var(--transition-time) var(--transition-easing),
    height var(--transition-time) var(--transition-easing),
    margin-top var(--transition-time) var(--transition-easing);
}

.cta {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: var(--color-black-3);
  color: white;
  border-radius: var(--rounded-corners-med);
  cursor: pointer;
  transition:
    opacity var(--transition-time) var(--transition-easing),
    height var(--transition-time) var(--transition-easing),
    max-width var(--transition-time) var(--transition-easing);
}

.dropdown-selector {
  height: 4ch;
  color: var(--color-black-7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin: 0 10px 0 14px;
  cursor: pointer;
}

.dropdown-count {
  font-size: 1.2rem;
  font-weight: 500;
}

.dropdown-icon {
  width: 12px;
}

.dropdown-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Inactive States */

.dialogue-box-wrapper.inactive .cta {
  opacity: 0;
  height: 0;
  pointer-events: none;
  max-width: 0;
  transition: opacity var(--transition-time) var(--transition-easing);
}

.dialogue-box-wrapper.inactive .avatar-text {
  opacity: 0;
  pointer-events: none;
  height: 0;
  margin-top: 0;
  transition: opacity var(--transition-time) var(--transition-easing);
}

.dialogue-box-wrapper.inactive .avatars {
  margin-bottom: 0;
}

.dialogue-box-wrapper.inactive .top-bar {
  opacity: 0;
  pointer-events: none;
  min-height: 0;
  transition: opacity var(--transition-time) var(--transition-easing);
}

.dialogue-box-wrapper.inactive .dialogue-box-container {
  border-radius: 75px;
  grid-template-rows: 0fr auto;
}

.dialogue-box-wrapper.inactive .dialogue-box {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-box-wrapper.inactive .avatars-row-1 ul {
  margin-bottom: 0;
}

.dialogue-box-wrapper.inactive .avatars-row-2 {
  opacity: 0;
  pointer-events: none;
  height: 0;
  transition: opacity var(--transition-time) var(--transition-easing);
}

.dialogue-box-wrapper.inactive .avatars-row-1 ul {
  gap: 0;
  max-width: max-content;
}

.dialogue-box-wrapper.inactive .avatars-row-2 ul {
  max-width: 0;
}

.dialogue-box-wrapper.inactive .avatars-row-1 ul li:nth-child(2) {
  margin-left: -20px;
}

.dialogue-box-wrapper.inactive .avatars-row-1 ul li:nth-child(3) {
  margin-left: -20px;
}

.dialogue-box-wrapper.inactive .avatars-row-1 ul li:nth-child(4) {
  margin-left: -20px;
}

.dropdown-selector.inactive {
  opacity: 0;
  height: 0;
  pointer-events: none;
  max-width: 0;
}
