:root {
  --grid-gap: 20px;
  --avatar-image-size: 85px;
  --dialogue-box-padding: 30px;
  --dialogue-box-padding-inactive: 18px;
  --transition-time: 0.8s;
  --transition-easing: cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.container.dialogue-box-container {
  width: 100%;
  min-height: var(--body-height-nav-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialogue-box {
  position: relative;
  border-radius: var(--rounded-corners-huge);
  background-color: var(--color-black-1c);
  overflow: hidden;
  transition: border-radius var(--transition-time) var(--transition-easing);
}

.top-bar {
  position: relative;
  width: 100%;
  height: 75px;
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
  background: var(--color-black-2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    height var(--transition-time) var(--transition-easing),
    transform var(--transition-time) var(--transition-easing),
    opacity var(--transition-time) var(--transition-easing);
}

.top-bar-title {
  font-size: 1.4rem;
  color: white;
}

.top-bar-close-icon {
  position: absolute;
  right: var(--dialogue-box-padding);
  top: 50%;
  transform: translateY(-50%) translateX(25%);
  color: var(--color-black-7);
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.4s ease;
}

.top-bar-close-icon svg {
  object-fit: cover;
  width: 100%;
  height: 14px;
}

.dialogue-box-content {
  padding: var(--dialogue-box-padding);
  transition: padding var(--transition-time) var(--transition-easing);
}

.avatars {
  margin-bottom: var(--dialogue-box-padding);
  max-height: 500px;
  transition:
    margin-bottom var(--transition-time) var(--transition-easing),
    max-height var(--transition-time) var(--transition-easing);
}

.avatars ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--grid-gap);
  transition: gap var(--transition-time) var(--transition-easing);
}

.avatars ul li {
  transform: none;
  max-height: 200px;
  transform: scaleY(1);
  overflow: hidden;
  cursor: pointer;
  transition:
    max-height var(--transition-time) var(--transition-easing),
    transform var(--transition-time) var(--transition-easing),
    opacity var(--transition-time) var(--transition-easing),
    transform var(--transition-time) var(--transition-easing);
}

.avatar-image {
  width: var(--avatar-image-size);
  aspect-ratio: 1/1;
  border: 3px solid var(--color-white-c);
  border-radius: 100%;
}

.avatar-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.avatar-text {
  font-size: 1rem;
  max-height: 30px;
  transform: scaleY(1);
  color: var(--color-black-7);
  text-align: center;
  margin-top: 10px;
  transition:
    max-height var(--transition-time) var(--transition-easing),
    transform var(--transition-time) var(--transition-easing),
    margin-top var(--transition-time) var(--transition-easing),
    opacity var(--transition-time) var(--transition-easing);
}

.cta {
  width: 100%;
  height: 55px;
  transform: scaleY(1);
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: var(--color-black-3);
  color: white;
  border-radius: var(--rounded-corners-med);
  cursor: pointer;
  transition:
    height var(--transition-time) var(--transition-easing),
    transform var(--transition-time) var(--transition-easing),
    opacity var(--transition-time) var(--transition-easing);
}

.dropdown-selector {
  position: absolute;
  height: 4ch;
  right: 14px;
  top: 50%;
  margin: 0 10px 0 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: var(--color-black-7);
  cursor: pointer;
  transition: opacity 0.4s var(--transition-easing) 0.3s;
}

.dropdown-count {
  font-size: 1.2rem;
  font-weight: 500;
}

.dropdown-icon {
  width: 12px;
}

.dropdown-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Inactive States */

.dialogue-box.inactive {
  border-radius: 100px;
}

.dialogue-box.inactive .top-bar,
.dialogue-box.inactive .cta {
  height: 0;
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
  margin-top: 0;
}

.dialogue-box.inactive .avatar-text,
.dialogue-box.inactive .avatars ul li:nth-child(n + 5) {
  max-height: 0;
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
  margin-top: 0;
  overflow: hidden;
}

.dialogue-box.inactive .avatars {
  margin-bottom: 0;
}

.dialogue-box.inactive .dialogue-box-content {
  padding: var(--dialogue-box-padding-inactive);
}

.dialogue-box.inactive .avatars ul {
  gap: 0;
}

.dialogue-box.inactive .avatars ul li:nth-child(2) {
  transform: translateX(calc(var(--avatar-image-size) * -0.25));
}

.dialogue-box.inactive .avatars ul li:nth-child(3) {
  transform: translateX(calc(var(--avatar-image-size) * -0.5));
}

.dialogue-box.inactive .avatars ul li:nth-child(4) {
  transform: translateX(calc(var(--avatar-image-size) * -0.75));
}

.dropdown-selector.inactive {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s var(--transition-easing);
}

@media (hover: hover) {
  .top-bar-close-icon:hover {
    color: var(--color-black-9);
  }
}

@media screen and (max-width: 650px) {
  .avatars ul {
    grid-template-columns: repeat(3, 1fr);
    margin-right: 20px;
  }

  .avatars ul li:nth-child(n + 7) {
    display: none;
  }

  .dialogue-box.inactive .avatars {
    margin-bottom: 0;
    max-height: var(--avatar-image-size);
  }

  .dialogue-box.inactive .avatar-text,
  .dialogue-box.inactive .avatars ul li:nth-child(n + 4):nth-child(-n + 6) {
    max-height: 0;
    transform: scaleY(0);
    opacity: 0;
    pointer-events: none;
    margin-top: 0;
    overflow: hidden;
  }
}
