.carousel-container {
  width: 100%;
  min-height: var(--body-height-nav-desktop);
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-wrapper {
  width: 80vw;
  overflow: visible;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.6s ease;
}

.carousel-slide {
  width: 375px;
  flex-shrink: 0;
  overflow: hidden;
}

.slide-image {
  width: 100%;
  height: 375px;
  border-radius: 20px;
  background: var(--color-black-1c);
  overflow: hidden;
  position: relative;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.slide-description {
  font-size: 0.9rem;
  color: var(--color-black-7);
  padding: 15px 15px 0 15px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 5px;
}

.slide-description span {
  color: white;
}

.carousel-controls {
  display: flex;
  position: absolute;
  bottom: 80px;
  right: 10vw;
  gap: 15px;
}

.carousel-button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-black-1c);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-black-3);
}

.carousel-button.active {
  background-color: var(--color-black-4);
  color: white;
}

#previous svg,
#next svg {
  height: 14px;
}

#previous svg {
  rotate: 180deg;
}

.carousel-wrapper {
  --right-end-distance: 120px;
}

@media screen and (max-width: 650px) {
  .carousel-container {
    min-height: var(--body-height-nav-mobile);
  }

  .carousel-controls {
    bottom: 6.5%;
  }

  .carousel-slide {
    width: 80vw;
  }

  .slide-image {
    width: 100%;
    height: 80vw;
  }

  .slide-description {
    font-size: 0.9rem;
    padding: 12px 14px 0 14px;
    line-height: 1.3;
    margin-top: 5px;
  }
}
