:root {
  --btn-size: 50px;
  --btn-size-mobile: 35px;
  --font-size: 1.5rem;
}

.btn-section {
  width: 100%;
  height: var(--body-height-nav-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrapper {
  border: 2px solid var(--color-black-2);
  border-radius: var(--rounded-corners-med);
  padding: calc(0.2 * var(--btn-size));
  display: flex;
  gap: calc(0.2 * var(--btn-size));
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--btn-size);
  min-width: var(--btn-size);
  background: var(--color-black-3);
  padding: 0 calc(0.3 * var(--btn-size));
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -0.03ch;
  font-size: var(--font-size);
  border-radius: calc(0.5 * var(--rounded-corners-med));
}

.btn-icon {
  height: calc(0.85 * var(--font-size));
  min-width: calc(0.85 * var(--font-size));
}

.btn-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-text {
  max-width: 0;
  opacity: 0;
  pointer-events: none;
  margin-left: 0;
  transition:
    max-width var(--transition-time-fast) cubic-bezier(0.77, 0, 0.175, 1),
    opacity var(--transition-time-fast) cubic-bezier(0.77, 0, 0.175, 1),
    margin-left var(--transition-time-fast) cubic-bezier(0.77, 0, 0.175, 1);
}

.btn-text.active {
  max-width: 500px;
  opacity: 1;
  pointer-events: auto;
  margin-left: 0.5ch;
}

@media screen and (max-width: 650px) {
  .btn-section {
    height: var(--body-height-nav-mobile);
  }
}
