a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-container {
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-size: 0.8rem;
  transform: scale(1.5);
}

.btn {
  padding: 5px 6px;
  border: 1px solid var(--color-black-2);
  color: #fff;
  border-radius: 5px;
}

.btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.btn-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 2px 4px;
  border-radius: 3px;
  background: var(--color-black-2);
}

.btn-icon {
  width: 15px;
  height: 15px;
  background: var(--color-black-5);
  border-radius: 100%;
}

.btn-text {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: -5px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
}

.btn-text-show {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
}

.btn-wrapper.active .btn-text {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
  overflow: hidden; /* not auto! */
}
