.grid-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  max-width: 1200px;
  gap: 20px;
}

.grid-item {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--rounded-corners-small);
}

.controls {
  display: none;
  z-index: 10001;
}

.controls.active {
  display: block;
}

.exit-button,
.next-button,
.prev-button {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.exit-button:hover,
.next-button:hover,
.prev-button:hover {
  background: var(--color-black-1c);
}

.exit-button:hover svg,
.next-button:hover svg,
.prev-button:hover svg {
  color: white;
}

.next-button {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.prev-button {
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  transform-origin: center;
}

.exit-button {
  position: fixed;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}

.next-button svg,
.prev-button svg {
  height: 14px;
  color: var(--color-black-7);
  transition: color 0.3s ease;
}

.exit-button svg {
  height: 11px;
  color: var(--color-black-7);
  transition: color 0.3s ease;
}

.lightbox {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1001;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.lightbox.active {
  opacity: 1;
  pointer-events: auto;
}

.lightbox-image {
  position: absolute;
  max-width: 70vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: var(--rounded-corners-med);
  opacity: 0;
  transition: opacity 0.6s ease;
}

.lightbox-image.active {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 5rem 1.8rem;
  }
  .grid-item {
    height: 400px;
  }
}

@media screen and (max-width: 650px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
