html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/assets/textures/ChatGPT\ Image\ Sep\ 19\,\ 2025\,\ 07_24_00\ PM.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.toggle-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2em;
  background: var(--color-black-2);
  border-radius: var(--rounded-corners-med);
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  z-index: 10000;
}

#square-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.square {
  width: 100px;
  height: 100px;
  background: var(--color-black-2);
  box-sizing: border-box;
  pointer-events: none;
}

.content-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: -1;
}