.content-container {
  width: 100vw;
  min-height: var(--body-height-nav-desktop);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle-container p,
.content-overlay p {
  font-size: 2.6rem;
  max-width: 22ch;
  text-align: center;
  margin: 0 40px 30px;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 1.2em;
  background: var(--color-black-1c);
  border-radius: var(--rounded-corners-small);
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  z-index: 10000;
}

#square-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10000;
  pointer-events: none;
}

.square {
  width: 100px;
  height: 100px;
  background: var(--color-black-2);
  box-sizing: border-box;
  pointer-events: none;
}

.content-overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--color-background);
  z-index: -1;
}

@media screen and (max-width: 650px) {
  .content-container {
    min-height: var(--body-height-nav-mobile);
  }

  .toggle-container p,
  .content-overlay p {
    max-width: 24ch;
    font-size: 2rem;
  }
}
