header h1 {
  text-align: center;
  margin: 120px auto;
  font-size: 4rem;
  font-weight: 600;
}

p {
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wall {
  column-count: 3;
  column-gap: 20px;
}

.h2,
p {
  max-width: 90%;
}

.wall-item {
  display: inline-block;
  width: 100%;
  margin: 0 0 24px 0;
  padding: 12px;
  background: var(--color-black-1);
  border-radius: 10px;
  border: 1px solid transparent;
  transition: border 0.3s ease;
  break-inside: avoid;
}

.wall-item:hover {
  border: 1px solid var(--color-black-2);
  cursor: pointer;
}

.wall-item > img {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 6px;
}

.wall-item h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Tablet: 2 columns */
@media (max-width: 1000px) {
  .wall {
    column-count: 2;
  }
}

/* Mobile: 1 column */
@media (max-width: 650px) {
  .wall {
    column-count: 1;
  }
}
