.section-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container:first-of-type {
  margin-top: var(--navMain-heightDesktop);
}

.section-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.section-text {
  font-size: 2rem;
  width: 30ch;
  text-align: center;
  pointer-events: none;
  margin: 0 3rem;
}

@media screen and (max-width: 650px) {
  .section-container:first-of-type {
    margin-top: var(--navMain-heightMobile);
  }

  .section-text {
    font-size: 1.7rem;
    margin: 0 2rem;
  }
}
