.section-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.section-text {
  font-size: 2rem;
  width: 30ch;
  text-align: center;
  pointer-events: none;
}
