html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: #111;
}

/* Hide native scroll bar */
html {
  scrollbar-width: none;
} /* Firefox */
body {
  -ms-overflow-style: none;
} /* IE and Edge */
body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
} /* Chrome */

.container {
  width: 80%;
  margin: 0 auto;
}

.content p {
  color: #919191;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  margin-bottom: 10rem;
  font-weight: 200;
}

h1 {
  position: absolute;
  font-family: "Inter";
  font-size: 0.8rem;
  font-weight: lighter;
  color: #acacac !important;
  margin: -30px -10px;
}

.percent-container {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 200px;
  background-color: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.percent {
  background: #222;
  height: 140px;
  width: 2px;
}

.fill {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background: #c9c9c9;
  transition: background 0.15s ease;
}
