.grid-container {
  padding: 5rem var(--horizontal-page-padding);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.grid-column-offset {
  margin-top: 4rem;
}

.grid-item {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}

.grid-item-image {
  position: relative;
  aspect-ratio: 455 / 460;
  overflow: hidden;
  display: block;
  clip-path: url(#image-clip-path);
}

.grid-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: scale 0.5s ease;
}

.grid-item-title {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 7%;
  display: flex;
  align-items: center;
  font-size: clamp(0.7rem, 3.5cqw, 0.9rem);
  font-weight: 700;
  color: var(--color-black-7);
}

.grid-item-title span {
  color: white;
  margin-left: 0.6rem;
  font-size: clamp(0.65rem, 3.5cqw, 0.85rem);
  margin-top: 1px;
}

@media (hover: hover) {
  .grid-item-image img:hover {
    scale: 1.1;
  }
}

@media screen and (max-width: 1000px) {
  .grid-container {
    padding: 4rem var(--horizontal-page-padding);
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-column:nth-of-type(3) {
    margin-top: -5rem;
  }

  .grid-column-offset:nth-of-type(4) {
    margin-top: -1rem;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    padding: 3rem var(--horizontal-page-padding);
  }

  .grid {
    gap: 0.6rem;
  }

  .grid-item-title {
    font-size: 0.7rem;
    height: 6.9%;
  }

  .grid-item-title span {
    font-size: 0.7rem;
    margin-top: 0;
    margin-left: 0.4rem;
  }

  .grid-column-offset:nth-of-type(4) {
    margin-top: 0;
  }
}

@media screen and (max-width: 450px) {
  .grid {
    gap: 0.5rem;
  }

  .grid-item-title {
    font-size: 0.6rem;
  }

  .grid-item-title span {
    font-size: 0.6rem;
  }
}
