body {
  overflow: hidden;
}

.scroll-trigger-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.left-side {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.slides {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide--current {
  z-index: 10;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 40px;
  max-width: 500px;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 25px;
  max-width: 400px;
}

.description {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 40px;
  color: var(--color-black-7);
}

.description p {
  margin-bottom: 14px;
}

.instruction {
  position: absolute;
  font-family: "JetBrains Mono", monospace;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
  pointer-events: none;
}
