@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  /* Color: Legend */
  --color-dark-1: #111;
  --color-dark-1b: #161616;
  --color-dark-2: #222;
  --color-dark-3: #333;
  --color-dark-4: #444;
  --color-dark-5: #555;
  --color-dark-6: #666;
  --color-dark-7: #777;
  --color-dark-8: #888;
  --color-dark-9: #999;
  --color-light-1: #aaa;
  --color-light-2: #bbb;
  --color-light-3: #ccc;
  --color-light-4: #ddd;
  --color-light-5: #eee;
  --color-white: #fff;

  /* Color: Semantics */
  --color-bg-main: var(--color-dark-1);
  --color-text-main: var(--color-white);
  --color-text-secondary: var(--color-dark-8);
  --color-borders: var(--color-dark-5);
  --color-accent: #ff5252;

  /* Fonts */
  --font-main: "Inter", sans-serif;
  --font-secondary: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--color-bg-main);
  color: var(--color-white);
}

nav {
  position: fixed;
  height: 40px;
  padding: 45px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
}

.social-icons {
  color: var(--color-white);
  text-decoration: none;
}

.social-icons svg {
  width: 25px;
  height: 25px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
  padding: 0 35px;
}

.projects-container {
  margin: auto;
  margin-top: 200px;
  margin-bottom: 150px;
  width: 50vw;
  max-width: 800px;
  min-width: 500px;
}

.projects-card {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: solid;
  border-width: 0.5px;
  border-color: var(--color-borders);
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background: var(--color-dark-1b);
  display: flex;
  justify-content: space-between;
}

.projects-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0 3px 9px;
}

.projects-title {
  font-size: 0.9rem;
}

.projects-category {
  margin-top: auto;
  font-size: 0.6rem;
  font-family: var(--font-secondary);
  color: var(--color-text-secondary);
  text-transform: uppercase;
  letter-spacing: -5%;
}

.projects-image {
  width: 140px;
  height: 80px;
  background: var(--color-dark-2);
  border-radius: 3px;
  border: solid;
  border-width: 0.5px;
  border-color: var(--color-dark-3);
}

.projects-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 35px 25px 35px;
}

.footer p {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-family: var(--font-secondary);
  color: var(--color-text-secondary);
}
