node_modules
package-lock.json
package.json
vite.config.js
.DS_Store
slider_img_01.jpg
slider_img_02.jpg
slider_img_03.jpg
slider_img_04.jpg
slider_img_05.jpg
slider_img_06.jpg
slider_img_07.jpg
slider_img_08.jpg