---
import BaseLayout from "../../layouts/baseLayout.astro";
import "../../styles/buttons/verticalStagger.css";
import "@/styles/global.css";
---

<script type="module" src="/scripts/buttons/verticalStagger.js"></script>

<BaseLayout>
    <div class="button-container">
        <button>Button Test</button>
    </div>
</BaseLayout>