---
import "../../styles/global.css";
import "../../styles/indexWIP.css";
import NavMain1 from "@/components/navMain1.astro";
import ContentGrid from "@/components/contentGrid.astro";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Home</title>
</head>
<body>
    <NavMain1 />
    <section class="intro-text">
        <p>A growing collection of hand-coded components for modern web development.</p>
    </section>
    <ContentGrid />
</body>
</html>