:root {
  /* Borders & Corners */
  --filter-border: 1px solid var(--color-main-border);
  --filter-border-radius: 4px;
  --contentImg-border-radius: 10px;

  /* Font Sizes */
  --filter-fontSize: 0.85rem;

  /* Spacing */
  --buttonPadding-vertical: 3.5px;
  --buttonPadding-horizontal: 9px;
  --filterFlexGap: 0.4rem;
}

/* Filters Container */
.filter-track {
  /* Positioning */
  position: sticky;
  top: 60px;
  width: 100%;
  padding: 5px 0;
  z-index: 100;

  /* Flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--filterFlexGap);

  /* Styling */
  background-color: var(--color-background);
  border-bottom: 1px solid transparent;

  /* Font */
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: var(--filter-fontSize);
  font-weight: 400;
  letter-spacing: -0.4px;
  color: #fff;

  /* Animations */
  transition:
    width 0.3s ease,
    margin 0.3s ease,
    border-bottom 0.3s ease,
    padding 0.3s ease,
    opacity 0.3s ease;
}

.filter-track.active {
  width: calc(100% + (2 * var(--horizontal-page-padding)));
  padding: 5px 5px;
  margin-left: calc(-1 * var(--horizontal-page-padding));
  margin-right: calc(-1 * var(--horizontal-page-padding));
  border-bottom: 1px solid var(--color-black-2);
}

.filter-track-left {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: var(--filterFlexGap);
}

.filter-track-right {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: var(--filterFlexGap);
  flex-shrink: 0;
}

/* Categories */
.filter-track-categories {
  position: relative;
  flex: 1;
  min-width: 0;
  overflow: hidden;
  cursor: grab;
}

.filter-track-categories-inner {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--filterFlexGap);
  overflow-x: auto;
  scrollbar-width: none;
}

.filter-track-categories-inner::-webkit-scrollbar {
  display: none;
}

.filter-track-categories-inner.dragging {
  cursor: grabbing !important;
  user-select: none;
}

body.dragging-global,
body.dragging-global * {
  cursor: grabbing !important;
  user-select: none !important;
}

/* Category Buttons */
.categories-btn {
  background: transparent;
  border: var(--filter-border);
  color: #fff;
  padding: var(--buttonPadding-vertical) var(--buttonPadding-horizontal);
  border-radius: var(--filter-border-radius);
  cursor: grab;
  letter-spacing: -0.4px;
  transition: background 0.3s ease;
}

.categories-btn:hover {
  background: #222;
}

.categories-btn.active {
  background: #222;
}

/* Categories - Arrows */
.filter-track-categories-arrow-right,
.filter-track-categories-arrow-left {
  position: absolute;
  top: 50%;
  height: 15px;
  width: 15px;
  z-index: 2;
  color: #fff;
  transition:
    color 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.filter-track-categories-arrow-right.visible,
.filter-track-categories-arrow-left.visible {
  cursor: pointer;
  opacity: 1;
  pointer-events: auto;
}

.filter-track-categories-arrow-right {
  right: 5px;
  transform: translateY(-50%);
  margin-top: 1px;
}

.filter-track-categories-arrow-left {
  left: 5px;
  transform: translateY(-50%) rotate(180deg);
  margin-top: -1px;
}

.filter-track-categories-arrow svg {
  width: 100%;
  height: 100%;
}

/* Categories - Side Fades */
.filter-track-categories-fade-right,
.filter-track-categories-fade-left {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.filter-track-categories-fade-right {
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.9) 70%,
    rgba(17, 17, 17, 1) 100%
  );
}

.filter-track-categories-fade-left {
  left: 0;
  background-image: linear-gradient(
    to left,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.9) 70%,
    rgba(17, 17, 17, 1) 100%
  );
}

.filter-track-categories-fade-right.visible,
.filter-track-categories-fade-left.visible {
  opacity: 1;
  pointer-events: none;
}

/* Sort Containers */
.filter-track-sort-container {
  display: flex;
  gap: var(--filterFlexGap);
  align-items: center;
}

.filter-track-sort-container ul {
  display: flex;
  flex-direction: row;
  gap: var(--filterFlexGap);
  align-items: center;
}

/* Sort Button */
.sort-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: var(--filter-border);
  border-radius: var(--filter-border-radius);
  padding: var(--buttonPadding-vertical) var(--buttonPadding-horizontal);
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sort-button span {
  display: flex;
  align-items: center;
  color: #777;
  margin-left: 8px;
  transition: all 0.3s ease;
}

.sort-button svg {
  width: 10px;
  height: 10px;
  display: block;
}

.sort-button:hover {
  background: #222;
}

.sort-button.active {
  background: #222;
}

.sort-button.active span {
  transform: rotate(45deg) scale(1.2);
}

/* Sort Dropdown */
.sort-expanded-menu {
  visibility: hidden;
  opacity: 0;
  max-width: 0;
  margin-left: -5px;
  transition:
    opacity 0.3s ease,
    margin-left 0.3s ease,
    max-width 0.3s ease,
    visibility 0.3s linear;
}

.sort-expanded-menu.show {
  visibility: visible;
  opacity: 1;
  max-width: 300px;
  margin-left: 0;
}

.sort-expanded-menu li {
  --i: 0;
}
.sort-expanded-menu li:nth-child(1) {
  --i: 1;
}
.sort-expanded-menu li:nth-child(2) {
  --i: 2;
}
.sort-expanded-menu li:nth-child(3) {
  --i: 3;
}
.sort-expanded-menu li:nth-child(4) {
  --i: 4;
}

.sort-expanded-menu li button {
  opacity: 0;
  background: transparent;
  border: var(--filter-border);
  border-radius: var(--filter-border-radius);
  padding: var(--buttonPadding-vertical) var(--buttonPadding-horizontal);
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.sort-expanded-menu li button.active {
  background-color: #333;
  color: #fff;
}

.sort-expanded-menu.show li button {
  opacity: 1;
  transition-delay: calc(var(--i) * 0.1s);
}

.sort-expanded-menu.hide li button {
  opacity: 0;
  transition-delay: calc((5 - var(--i)) * 0.1s);
}

.sort-expanded-menu li button:hover {
  background-color: var(--color-black-3);
}

/* Search Field */
.filter-track-search {
  all: unset;
  border: var(--filter-border);
  border-radius: var(--filter-border-radius);
  padding: 6px var(--buttonPadding-horizontal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  caret-color: var(--color-white-c);
  transition: border 0.3s ease;
}

.filter-track-search:hover {
  border: 1px solid #333;
}

.filter-track-search:focus-within {
  border: 1px solid #333;
}

.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: url("/public/assets/svg/close-outline.svg") no-repeat center
    center;
  background-size: contain;
  opacity: 40%;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s ease;
}

.filter-track-search button {
  all: unset;
  background: transparent;
  cursor: pointer;
}

.search-input {
  all: unset;
  width: 250px;
  max-height: 14px;
}

.search-input::placeholder {
  color: #555;
  transition: color 0.3s ease;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-icon {
  height: 11px;
  aspect-ratio: 1 / 1;
  color: #fff;
  cursor: default;
}

.search-svg {
  height: 100%;
  width: 100%;
}

/* Content Grid */
.content-grid {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  transition: opacity 0.3s ease;
}

.content-card {
  position: relative;
  margin-bottom: 13px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content-card:not(.hidden) {
  opacity: 1;
}

.content-card.hidden {
  opacity: 0;
  pointer-events: none;
}

.content-card > a {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: var(--contentImg-border-radius);
  border: 1px solid var(--color-black-2);
}

.content-card > a img {
  display: block;
  width: 101%;
  height: 101%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Zoom content grid image on hover
.content-card > a img:hover {
  transform: scale(1.03);
}
*/

.content-data {
  margin-left: 2px;
}

h3 {
  margin-bottom: 4px;
}

.content-data p {
  color: #777;
  font-size: clamp(0.8333rem, 0.8061rem + 0.1212vw, 0.9rem);
  cursor: default;
}

article .new-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(17, 17, 17, 0.9);
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 3px 7px 3px 8px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  border-radius: var(--filter-border-radius);
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 1200px) {
  .content-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter-track-right {
    display: none;
  }
}

@media (max-width: 650px) {
  .content-grid {
    grid-template-columns: 1fr;
  }

  .container .content-grid {
    margin-left: calc(-1 * var(--horizontal-page-padding));
    margin-right: calc(-1 * var(--horizontal-page-padding));
  }

  .content-card > a {
    border-radius: 0;
  }

  article .new-label {
    position: absolute;
    top: 10px;
    margin-left: 10px;
    padding: 3px 7px 3px 8px;
    border-radius: var(--filter-border-radius);
  }

  .content-data {
    margin-left: 35px;
  }

  .filter-track {
    /* Positioning */
    top: 45px;
    padding: 0 8px;
  }

  .filter-track.active {
    padding: 0 var(--horizontal-page-padding);
  }

  .content-grid {
    margin-top: 0.2rem;
  }
}
