:root {
  --footer-height: 10rem;
  --footer-float-height: 43px;
  --footer-border: 1px solid var(--color-main-border);
}

.page-content {
  margin-bottom: calc(var(--footer-height) + 4rem);
}

footer {
  /* Size & Position */
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  min-width: 100%;
  height: var(--footer-height);
  padding: 0 var(--horizontal-page-padding);

  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background & Border */
  background: var(--color-background);
  border-radius: none;
  border-top: var(--footer-border);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

  /* Font */
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  word-spacing: -3px;
  color: white;

  /* Animations */
  transition:
    bottom var(--transition-time-med) var(--transition-ease-bounce),
    transform var(--transition-time-med) var(--transition-ease-bounce),
    min-width var(--transition-time-med) var(--transition-ease-bounce),
    height var(--transition-time-med) var(--transition-ease-bounce),
    padding var(--transition-time-med) var(--transition-ease-bounce),
    border-radius var(--transition-time-med) var(--transition-ease-bounce),
    border-bottom var(--transition-time-med) var(--transition-ease-bounce),
    border-left var(--transition-time-med) var(--transition-ease-bounce),
    border-right var(--transition-time-med) var(--transition-ease-bounce),
    font-size var(--transition-time-med) var(--transition-ease-bounce);
}

.footer-item {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  white-space: nowrap;
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 0 12px;
}

.footer-icon {
  height: 13px;
  width: 13px;
  display: inline-block;
  flex-shrink: 0;
}

.footer-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-text {
    opacity: 1;
    max-width: 300px;
    pointer-events: auto;
    transition:
    opacity var(--transition-time-med) var(--transition-ease-bounce),
    max-width var(--transition-time-med) var(--transition-ease-bounce);
  }

.footer-logo {
  position: absolute;
  top: 0;
  left: 50%;
  height: 25px;
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
  transform-origin: 50% 50%;
  transition: transform var(--transition-time-med) ease 0.9s;
}

.footer-line-cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 2px;
  background: var(--color-background);
  transform: translateY(-1px) translateX(-50%);
  transform-origin: 50% 50%;
  z-index: -1;
  transition: width var(--transition-time-med) var(--transition-ease-bounce)
    var(--transition-time-fast);
}

.footer-logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Altered States */

footer.float {
  /* Size & Position */
  position: fixed;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  min-width: 0;
  height: var(--footer-float-height);
  padding: 0 calc(0.2 * var(--footer-float-height));

  /* Flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Background & Border */
  background: var(--color-background);
  border-radius: var(--rounded-corners-med);
  border-top: var(--footer-border);
  border-bottom: var(--footer-border);
  border-left: var(--footer-border);
  border-right: var(--footer-border);

  /* Font */
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  word-spacing: -3px;
  color: white;
}

footer.float .footer-item {
  height: 100%;
}

footer.float .footer-logo {
  transform: translateX(-50%) translateY(-50%) scale(0);
  transition: transform var(--transition-time-med) ease;
}

footer.invisible {
  transform: translateX(-50%) translateY(200%);
}

.footer-line-cover.invisible {
  width: 0;
  transition: width var(--transition-time-med) var(--transition-ease-bounce);
}

@media (hover: hover) {
  .footer-item:hover {
    opacity: 1;
  }

  .footer-item:has(~ .footer-item:hover),
  .footer-item:hover ~ .footer-item {
    opacity: 0.2;
  }
}

@media screen and (max-width: 1000px) {
  footer.float .footer-text {
    opacity: 0;
    max-width: 0;
    pointer-events: none;
  }
}