:root {
  --footer-mobile-circle-size: 60px;
  --footer-mobile-icon-size: 20px;
  --footer-fixed-distance: 25px;
}

.footer-mobile-wrapper {
  position: fixed;
  bottom: var(--footer-fixed-distance);
  right: var(--footer-fixed-distance);
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  z-index: 2;
  opacity: 1;
  transition: opacity var(--transition-time-med) ease;
}

.footer-mobile-item {
  display: flex;
  gap: 10px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-time-med) ease;
  transition-delay: 0s;
}

.footer-mobile-item.pie-menu {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.footer-mobile-text,
.footer-mobile-icon {
  min-width: var(--footer-mobile-circle-size);
  height: var(--footer-mobile-circle-size);
  background: var(--color-background);
  border: 1px solid var(--color-main-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mobile-text {
  border-radius: calc(0.5 * var(--footer-mobile-circle-size));
  padding: calc(0.5 * var(--footer-mobile-circle-size));
}

.footer-mobile-item.pie-menu .footer-mobile-text {
  opacity: 0;
  pointer-events: none;
}

.footer-mobile-icon {
  border-radius: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.footer-mobile-icon svg {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

/* Pie Menu */
#footer-mobile-pie-menu {
  position: relative;
}

.footer-mobile-item.pie-menu {
  transform: translateY(0);
  transition: transform var(--transition-time-med) var(--transition-ease-bounce);
}

.footer-mobile-item.pie-menu.invisible {
  transform: translateY(140%);
}

.pie-menu-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) scaleX(1);
  width: var(--footer-mobile-icon-size);
  height: 2px;
  background: white;
  transition: transform var(--transition-time-slow)
    var(--transition-ease-bounce);
}

.pie-menu-line:first-child {
  transform: translateX(-50%) translateY(-6px) rotate(0);
}

.pie-menu-line:nth-child(3) {
  transform: translateX(-50%) translateY(6px) rotate(0);
}

/* Footer Logo */
.footer-mobile-logo {
  position: fixed;
  top: var(--footer-fixed-distance);
  left: var(--footer-fixed-distance);
  height: 30px;
  max-width: 36px;
  z-index: 3;
  transform: scale(0);
  pointer-events: none;
  transition: transform var(--transition-time-fast)
    cubic-bezier(0.4, -1.19, 0.33, 1);
}

.footer-mobile-logo svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Backdrop */
.footer-mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-time-slow) ease;
}

body:has(.footer-mobile-wrapper.active) {
  overflow: hidden;
}

/* Fixed Footer */
.footer-mobile-fixed {
  margin-top: 3rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

.footer-mobile-fixed-item {
  height: 3.5rem;
  border-top: 1px solid var(--color-main-border);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background var(--transition-time-fast) ease;
}

.footer-mobile-fixed-item a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mobile-fixed-item.share-project {
  cursor: pointer;
}

.footer-mobile-fixed-item.logo {
  height: 5.5rem;
  margin-bottom: 0.2rem;
}

.footer-mobile-fixed-item.logo svg {
  height: 30px;
}

/* Active States: Expanded Menu */

.footer-mobile-wrapper.active .footer-mobile-item,
.footer-mobile-wrapper.active .footer-mobile-backdrop,
.footer-mobile-wrapper.active .footer-mobile-item.pie-menu .footer-mobile-text {
  opacity: 1;
  pointer-events: auto;
}

.footer-mobile-wrapper.active .footer-mobile-logo {
  opacity: 1;
}

.footer-mobile-wrapper.active .footer-mobile-item:nth-child(1) {
  transition-delay: 0.4s;
}

.footer-mobile-wrapper.active .footer-mobile-item:nth-child(2) {
  transition-delay: 0.3s;
}

.footer-mobile-wrapper.active .footer-mobile-item:nth-child(3) {
  transition-delay: 0.2s;
}

.footer-mobile-wrapper.active .footer-mobile-item:nth-child(4),
.footer-mobile-wrapper.active .footer-mobile-item.pie-menu .footer-mobile-text {
  transition-delay: 0.1s;
}

.footer-mobile-wrapper.active .footer-mobile-backdrop {
  opacity: 1;
  pointer-events: auto;
}

.footer-mobile-wrapper.active .footer-mobile-logo {
  transform: scale(1);
  transform-origin: center;
  transition: transform var(--transition-time-fast)
    cubic-bezier(0.67, 0, 0.6, 2.19) var(--transition-time-fast);
}

.footer-mobile-wrapper.bottom {
  opacity: 0;
  pointer-events: none;
}

/* Pie Menu Animation */
.footer-mobile-wrapper.active .pie-menu-line {
  transform: translateX(300%) scaleX(2);
}

.footer-mobile-wrapper.active .pie-menu-line:first-child {
  transform: translateX(-50%) translateY(0) rotate(45deg);
}

.footer-mobile-wrapper.active .pie-menu-line:nth-child(3) {
  transform: translateX(-50%) translateY(0) rotate(-45deg);
}

@media (hover: hover) {
  .footer-mobile-fixed-item:hover {
    background: var(--color-black-2);
  }

  .footer-mobile-fixed-item.logo:hover {
    background: transparent;
  }
}

@media screen and (min-width: 1000px) {
  .footer-mobile {
    display: none;
    pointer-events: none;
  }
}
