.page-content {
  background-color: var(--color-background);
  margin-bottom: 12rem;
  border-bottom: 1px solid var(--color-black-3);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  z-index: -1;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.footer-icon {
  height: 14px;
}

.footer-icon svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-separator {
  height: 1.6rem;
  width: 2px;
  background-color: var(--color-black-3);
}
