.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 60px;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-top: 1px solid var(--color-main-border);
  padding: 0 var(--horizontal-page-padding);
  color: white;
}

.footer-left {
  pointer-events: none;
}

.footer-middle ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-right {
  text-align: right;
  pointer-events: none;
}

.footer-right span {
  pointer-events: auto;
}
