/*
@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: slide-out-down 0.8s ease;
}

::view-transition-new(root) {
  animation: slide-in-top 0.4s ease;
}

@keyframes slide-out-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-in-top {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}
*/

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: exit-page 0.8s ease;
}

::view-transition-new(root) {
  animation: enter-page 0.8s ease;
}

@keyframes exit-page {
  from {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
  to {
    opacity: 0;
    filter: blur(20px);
    transform: scale(1.1);
  }
}

@keyframes enter-page {
  from {
    opacity: 0;
    filter: blur(20px);
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
  }
}
