@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Note: Most pages depend on/reference this global CSS */
/* Note: Be sure to import this CSS on ALL pages */

:root {
  /* L/R Padding */
  --horizontal-page-padding: clamp(10px, 1rem + 1vw, 40px);
  --body-height-nav-desktop: calc(100vh - var(--navMain-heightDesktop));
  --body-height-nav-mobile: calc(100dvh - var(--navMain-heightMobile));

  /* Rounded Corners */
  --rounded-corners-xxsmall: 2px;
  --rounded-corners-xsmall: 3.5px;
  --rounded-corners-small: 5px;
  --rounded-corners-med: 10px;
  --rounded-corners-large: 15px;
  --rounded-corners-huge: 30px;

  /* Font Stuff */
  --word-spacing: -0.3ch;
  --letter-spacing: -0.05ch;

  /* Main Colors */
  --color-background: #0b0b0b;
  --color-accent: #ec6533;
  --color-main-border: #1e1e1e;

  --color-black-1: #111;
  --color-black-14: #141414;
  --color-black-1c: #1c1c1c;
  --color-black-2: #222;
  --color-black-3: #333;
  --color-black-4: #444;
  --color-black-5: #555;
  --color-black-6: #666;
  --color-black-7: #777;
  --color-black-8: #888;
  --color-black-9: #999;
  --color-white-a: #aaa;
  --color-white-b: #bbb;
  --color-white-c: #ccc;
  --color-white-d: #ddd;
  --color-white-e: #eee;

  /* Navigation: Main */
  --navMain-heightDesktop: 60px;
  --navMain-heightSmaller: 50px;
  --navMain-heightMobile: 45px;
  --navMain-border: solid 1px var(--color-main-border);

  /* Content Grid */
  --filter-border: 1px solid var(--color-main-border);
  --filter-border-radius: 4px;
  --filter-fontSize: 0.85rem;
  --filterFlexGap: 0.4rem;
  --contentImg-border-radius: 10px;
  --buttonPadding-vertical: 3.5px;
  --buttonPadding-horizontal: 9px;

  /* Animation: Speeds */
  --transition-time-fast: 0.3s;
  --transition-time-med: 0.5s;
  --transition-time-slow: 0.8s;
  --transition-time-turtle: 1.1s;

  /* Animation: Easings */
  --transition-ease-bounce: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  --transition-ease-slow-fast: cubic-bezier(0.65, 0.05, 0, 1);

  /* Breakpoints */
  --breakpoint-tablet: 1200px;
  --breakpoint-mobile: 650px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #222 transparent;
}

h1 {
  font-size: clamp(2rem, 1.7045rem + 1.2727vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 1.2955rem + 0.9091vw, 2.25rem);
}

h3 {
  font-size: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem);
}

h4 {
  font-size: clamp(0.875rem, 0.8409rem + 0.1818vw, 1rem);
}

body {
  background: var(--color-background);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 2500px;
  margin-left: auto;
  margin-right: auto;
}

.spacer-tiny {
  height: 1rem;
}
.spacer-small {
  height: 4rem;
}
.spacer-med {
  height: 10rem;
}
.spacer-large {
  height: 30rem;
}
.spacer-huge {
  height: 100rem;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}

::selection {
  background: var(--color-black-3);
  color: #fff;
}

::-moz-selection {
  background: var(--color-black-3);
  color: #fff;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea {
  caret-color: var(--color-black-9);
}

::-webkit-scrollbar-thumb {
  background: #222;
}
