.intro-text {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.intro-text p {
  text-align: center;
  font-size: clamp(1.728rem, 1.536rem + 0.8532vw, 2.1973rem);
  max-width: 34ch;
  margin-top: -22px;
  font-weight: 400;
  cursor: default;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
}

@media (max-width: 650px) {
  .intro-text {
    margin-top: 30px;
    height: 160px;
  }

  .intro-text p {
    margin-top: 0;
    line-height: 1.3;
    font-size: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    max-width: 25ch;
  }
}
