dialog {
  all: unset;
}

#info-button {
  width: 25px;
  height: 25px;
  color: var(--color-black-7);
  position: fixed;
  left: 23px;
  bottom: 23px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s ease;
  z-index: 1002;
}

#info-button svg {
  height: 16px;
}

.dialog-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1002;
}

.dialog-container.active {
  opacity: 1;
  pointer-events: auto;
}

.dialog-container-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
}

.dialog-box {
  position: relative;
  width: 500px;
  height: 60vh;
  max-height: 600px;
  min-height: 300px;
  background: var(--color-black-1c);
  border: 1px solid var(--color-black-3);
  border-radius: var(--rounded-corners-med);
  padding: 2.2rem;
  margin: 28px;
}

.dialog-content-container {
  height: 100%;
  padding-bottom: 2.2rem;
}

.dialog-header-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
  margin-top: -7px;
}

.dialog-header {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 700;
}

.dialog-body-container {
  position: relative;
  height: 100%;
}

.dialog-body {
  height: 100%;
  font-size: 0.88rem;
  font-weight: 300;
  line-height: 1.7;
  overflow: auto;
  color: var(--color-white-d);
}

.dialog-body p {
  margin-bottom: 1.1rem;
  pointer-events: none;
}

.dialog-body p:last-child {
  margin-bottom: 0;
}

.dialog-body-gradient-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 1) 0%,
    rgba(28, 28, 28, 0) 100%
  );
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 5;
  opacity: 0;
  transition: opacity .3s ease;
}

.dialog-body-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(
    to bottom,
    rgba(28, 28, 28, 0) 0%,
    rgba(28, 28, 28, 1) 100%
  );
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 5;
  opacity: 0;
  transition: opacity .1s ease;
}

.dialog-body-gradient-top.active {
  opacity: 1;
}

.dialog-body-gradient-bottom.active {
  opacity: 1;
}

.dialog-close-button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dialog-close-button svg {
  height: 16px;
  rotate: 45deg;
  color: var(--color-black-5);
  transition: color 0.3s ease;
}

@media (hover: hover) {
  .dialog-close-button:hover svg {
    color: var(--color-black-9);
  }

  #info-button:hover {
    color: white;
  }
}

@media screen and (max-width: 650px) {
  .dialog-header {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .dialog-box {
    width: 100%;
    height: 60vh;
    height: 60dvh;
    padding: 24px;
    margin: 28px;
    padding-bottom: 30px;
  }

  .dialog-body {
    padding-bottom: 0;
  }

  .dialog-header-container {
    margin-bottom: 1.1rem;
    margin-top: 0;
  }

  .dialog-body-gradient-top {
    height: 20px;
  }

  .dialog-body-gradient-bottom {
    height: 20px;
  }
}