:root {
  --top-margin: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-container {
  display: flex;
  align-items: flex-start;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-size: 0.8rem;
  white-space: nowrap;
  /* background: #19c5ff; */
}

#navMenu {
  position: absolute;
  left: 40px;
  top: var(--top-margin);
  transition: all 0.3s ease;
}

#socialMenu {
  position: absolute;
  left: 50%;
  top: var(--top-margin);
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

#searchMenu {
  position: absolute;
  right: 40px;
  top: var(--top-margin);
  transition: all 0.3s ease;
}

.btn {
  padding: 5px 6px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  transition: border 0.3s ease;
}

.btn:hover {
  border: 1px solid #ec6533;
}

.btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.btn-wrapper {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  padding: 2px 4px;
  border-radius: 3px;
  background: #222;
  transition: background 0.2s ease;
}

.btn-wrapper:hover {
  background: #333;
}

.btn-icon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #555;
  border-radius: 100%; */
}

.btn-icon svg {
  width: 75%;
  height: 75%;
}

.btn-text {
  margin: 0 4px;
}

.btn-text-expand {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: -5px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
}

.btn-text-show {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
}

.btn-wrapper.active {
  background: #333;
}

.btn-wrapper.active .btn-text-expand {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
  overflow: hidden;
}

#btn-search {
  all: unset;
  box-sizing: border-box;
  margin: 2px 0 2px 4px;
  padding: 0;
  appearance: none;
  caret-color: #ec6533;
}

#btn-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  background: url("/public/assets/svg/close-outline.svg") no-repeat center
    center;
  background-size: contain;
  opacity: 40%;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s ease;
}

#btn-search:focus::placeholder {
  color: transparent;
  transition: color 0.15s ease;
}

.btn-wrapper.search {
  background: transparent;
}

@media screen and (max-width: 1200px) {
  #socialMenu {
    position: absolute;
    right: 40px;
    left: auto;
    top: var(--top-margin);
    transform: translateX(0);
  }

  #searchMenu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #navMenu {
    position: absolute;
    left: 50%;
    top: var(--top-margin);
    transform: translateX(-50%);
  }

  #socialMenu {
    display: none;
  }

  #searchMenu {
    display: none;
  }
}
