:root {
  --navMain-heightDesktop: 60px;
  --navMain-heightSmaller: 50px;
  --navMain-heightMobile: 45px;
  --navMain-border: solid 1px var(--color-main-border);
}

body {
  padding-top: var(--navMain-heightDesktop);
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navMain-heightDesktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--navMain-border);
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  background-color: var(--color-background);
  z-index: 1000;
  transition: height 1s ease;
}

/* Globals */
nav a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
}

nav p {
  margin-top: 1px;
}

nav ul {
  display: flex;
  height: 100%;
}

nav li {
  height: 100%;
  min-width: var(--navMain-heightDesktop);
  transition: all 0.3s ease;
}

/* Icons */
.nav-icon {
  width: 15px;
  aspect-ratio: 1 / 1;
  transition: all 0.3s ease;
}

.nav-icon.inspiration {
  scale: 1.25;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
}

.social-box:hover .nav-icon.social {
  transform: scale(1.4);
}

/* Nav Menu (Pages) */
.nav-menu {
  height: 100%;
}

.nav-menu li {
  transition: opacity 0.3s ease;
}

.menu-box {
  position: relative;
}

li.menu-box {
  border-right: var(--navMain-border);
}

/* Menu Items - Interactivity */
.menu-box.active {
  background: var(--color-black-1c);
}

.menu-box.hovering {
  background: var(--color-black-1c);
  transition: background 0.3s ease;
}

.nav-menu-text {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: -5px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
}

.nav-menu-text.show {
  max-width: 200px;
  overflow: visible;
  opacity: 1;
  margin-left: 5px;
}

.nav-menu-text.show .menu-box {
  background: var(--color-black-1c);
}

/* Dim !menu-box(s) */
.nav-menu:hover ul > li.menu-box {
  opacity: 0.15;
}

.nav-menu ul > li.menu-box:hover {
  opacity: 1;
}

.nav-menu:hover ~ .socials-container li,
.nav-menu:hover ~ .nav-logo {
  opacity: 0.15;
}

/* Nav Dropdown */
.nav-dropdown {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  top: 100%;
  left: 0;
  list-style: none;
  pointer-events: none;
}

.nav-dropdown li {
  display: block;
  white-space: nowrap;
  border-top: var(--navMain-border);
  border-bottom: var(--navMain-border);
  border-left: var(--navMain-border);
  border-right: var(--navMain-border);
  font-size: 0.8rem;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  background-color: var(--color-background);
}

.nav-dropdown li a {
  width: 150px;
  height: 40px;
}

.nav-dropdown > li:not(:first-child) {
  margin-top: -1px;
}

.has-dropdown:hover .nav-dropdown {
  visibility: visible;
  pointer-events: all;
}

.has-dropdown:hover .nav-dropdown li {
  opacity: 1;
}
.has-dropdown:hover .nav-dropdown li:nth-child(1) {
  transition-delay: 0.1s, 0s;
}
.has-dropdown:hover .nav-dropdown li:nth-child(2) {
  transition-delay: 0.2s, 0s;
}
.has-dropdown:hover .nav-dropdown li:nth-child(3) {
  transition-delay: 0.3s, 0s;
}
.has-dropdown:hover .nav-dropdown li:nth-child(4) {
  transition-delay: 0.4s, 0s;
}

.nav-dropdown li:hover {
  background-color: var(--color-black-1c);
}

/* Socials Menu */
.socials-container {
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

li.social-box {
  aspect-ratio: 1 / 1;
  border-left: var(--navMain-border);
}

li.social-box:hover {
  background: var(--color-black-1c);
}

/* Center Logo */
.nav-logo {
  position: absolute;
  height: 55%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.nav-logo a {
  display: block;
  height: 100%;
  padding: 0;
}

.nav-logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Tablet */
@media screen and (max-width: 1200px) {
}

/* Logo Breakpoint */
@media screen and (max-width: 1000px) {
  .nav-logo {
    opacity: 0;
    visibility: hidden;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  .socials-container {
    opacity: 0;
    display: none;
  }

  nav {
    height: var(--navMain-heightMobile);
    font-size: 14px;
  }

  li {
    min-width: var(--navMain-heightMobile);
    min-height: var(--navMain-heightMobile);
  }

  .nav-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    justify-content: space-around;
  }

  .nav-menu a {
    padding: 0;
  }

  .nav-menu ul {
    width: 100vw;
    margin-top: 0.3px;
  }

  .nav-menu ul li {
    flex: 1 auto;
    padding: 0 1rem;
    border-right: var(--navMain-border);
  }

  .nav-menu li.menu-box:last-child {
    border-right: none;
  }

  .nav-menu-text {
    max-width: none;
    overflow: visible;
    opacity: 1;
    margin-left: 1px;
    white-space: nowrap;
  }

  .nav-menu-text.show {
    margin-left: 1px;
  }

  .nav-dropdown {
    display: block;
    position: fixed;
    top: var(--navMain-heightMobile);
    left: 0;
    width: 100%;
    height: auto;
  }

  .nav-menu ul.nav-dropdown li {
    height: 40px;
    margin-top: -2px;
    border-left: none;
    border-right: none;
    padding: 0;
  }

  .nav-dropdown li a {
    width: 100%;
    line-height: 40px;
  }
}
