:root {
  --top-margin: 30px;
  --rounded-corners: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  padding-top: 64px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100vw;
  user-select: none;
  z-index: 10000;
}

.btn-container {
  display: flex;
  align-items: flex-start;
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-size: 0.8rem;
  white-space: nowrap;
  /* background: #19c5ff; */
}

#navMenu {
  position: absolute;
  left: 40px;
  top: var(--top-margin);
  transition: all 0.3s ease;
}

#socialMenu {
  position: absolute;
  left: 50%;
  top: var(--top-margin);
  transform: translateX(-50%);
  transition: all 0.3s ease;
}

#searchMenu {
  position: absolute;
  right: 40px;
  top: var(--top-margin);
  transition: all 0.3s ease;
}

#navMenu,
#socialMenu,
#searchMenu {
  background: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: var(--rounded-corners);
}

.btn {
  padding: 5px 6px;
  color: #fff;
  border-radius: var(--rounded-corners);
  border: 1px solid #333;
  transition: border 0.3s ease;
}

.btn:hover {
  border: 1px solid #ec6533;
}

.btn-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.btn-wrapper {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  gap: 5px;
  padding: 2px 4px;
  border-radius: 3px;
  background: #222;
  transition: background 0.2s ease;
}

.btn-wrapper:hover {
  background: #333;
}

.btn-icon {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #555;
  border-radius: 100%; */
}

.btn-icon svg {
  width: 78%;
  height: 78%;
}

.btn-icon.nav svg {
  width: 70%;
  height: 70%;
}

.btn-text {
  margin: 0 4px;
}

.btn-text-expand {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: -5px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
}

.btn-text-show {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
}

.btn-wrapper.active {
  background: #3c3c3c;
}

.btn-wrapper.active .btn-text-expand {
  max-width: 200px;
  opacity: 1;
  margin-left: -1px;
  padding-right: 3px;
  overflow: hidden;
}

#btn-search {
  all: unset;
  box-sizing: border-box;
  margin: 2px 0 2px 4px;
  padding: 0;
  appearance: none;
  caret-color: #ec6533;
  width: 14vw;
  max-width: 250px;
}

#btn-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 17px;
  width: 17px;
  background: url("/public/assets/svg/close-outline.svg") no-repeat center
    center;
  background-size: contain;
  opacity: 40%;
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s ease;
}

#btn-search::placeholder {
  color: #fff;
  opacity: 1;
}

#btn-search:focus::placeholder {
  color: transparent;
  transition: color 0.15s ease;
}

.btn-wrapper.search {
  /* background: transparent; */
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #socialMenu {
    position: absolute;
    right: 40px;
    left: auto;
    top: var(--top-margin);
    transform: translateX(0);
  }

  #searchMenu {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .btn {
    padding: 8px;
    color: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #333;
    width: 100vw;
    height: auto;
    display: flex;
  }

  .btn:hover {
    border: none;
    border-bottom: 1px solid #333;
  }

  .btn-list {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .btn-wrapper {
    flex: 1;
    justify-content: center;
    width: 100%;
    padding: 6px;
  }

  #navMenu {
    left: 0;
    top: 0;
  }

  #navMenu .btn-text-expand {
    max-width: 100%;
    opacity: 1;
    margin-left: -1px;
    padding-right: 3px;
    overflow: visible;
  }

  #navMenu,
  #socialMenu,
  #searchMenu {
    border-radius: 0;
  }

  #socialMenu,
  #searchMenu {
    display: none;
  }
}
