nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navMain-heightDesktop);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--navMain-border);
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--color-background);
  z-index: 2;
}

.nav-spacer {
  height: var(--navMain-heightDesktop);
}

/* Globals */
nav a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0 22px;
}

nav p {
  margin-top: 1px;
}

.nav-middle-spacer {
  flex: 1;
}

/* Icons */
.nav-icon {
  width: 15px;
  aspect-ratio: 1 / 1;
  transition: all 0.3s ease;
}

.nav-icon.inspiration {
  scale: 1.25;
}

.nav-icon svg {
  width: 100%;
  height: 100%;
}

/* Nav Menu (Pages) */
.menu-box {
  height: 100%;
  position: relative;
  border-right: var(--navMain-border);
  min-width: var(--navMain-heightDesktop);
  transition: opacity 0.3s ease;
}

.menu-box.active {
  background: var(--color-black-1c);
}

.menu-box.hovering {
  background: var(--color-black-1c);
  transition: background 0.3s ease;
}

.nav-menu-text {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  margin-left: -5px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  white-space: nowrap;
}

.nav-menu-text.show {
  max-width: 200px;
  overflow: visible;
  opacity: 1;
  margin-left: 5px;
}

.nav-menu-text.show .menu-box {
  background: var(--color-black-1c);
}

/* Right Side Items */
.source-code-box {
  height: 100%;
  border-left: var(--navMain-border);
  transition: all 0.3s ease;
}

.social-box {
  aspect-ratio: 1 / 1;
  border-left: var(--navMain-border);
  transition: all 0.3s ease;
}

/* Nav Dropdown */
.nav-dropdown {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  top: 100%;
  left: 0;
  list-style: none;
  pointer-events: none;
}

.nav-dropdown li {
  display: block;
  white-space: nowrap;
  border-top: var(--navMain-border);
  border-bottom: var(--navMain-border);
  border-left: var(--navMain-border);
  border-right: var(--navMain-border);
  font-size: 0.8rem;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  background-color: var(--color-background);
}

.nav-dropdown li a {
  width: 150px;
  height: 40px;
}

.nav-dropdown > li:not(:first-child) {
  margin-top: -1px;
}

/* Center Logo */
.nav-logo {
  position: absolute;
  height: 55%;
  left: 50%;
  transform: translateX(-50%) translateY(-150%);
  opacity: 1;
  visibility: visible;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.5, -0.35, 0.71, 1);
}

.nav-logo.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.nav-logo a {
  display: block;
  height: 100%;
  padding: 0;
}

.nav-logo svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-logo-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  opacity: 0;
  word-spacing: var(--word-spacing);
  transition:
    transform 0.4s cubic-bezier(0.5, -0.35, 0.71, 1),
    opacity 0.3s ease;
}

.nav-logo-text a {
  letter-spacing: -0.3em;
}

.nav-logo-text a span:nth-child(4) {
  transform: scaleX(-1);
  display: inline-block;
  transform-origin: center center;
  letter-spacing: 0;
  margin-right: -0.35em;
}

.nav-logo-text:has(a) {
  cursor: pointer;
}

.nav-logo-text:not(:has(a)) {
  pointer-events: none;
}

.nav-logo-text.active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* Buttons Icon */
.nav-icon-buttons {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  scale: 1.2;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icon-buttons-inner {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  background: white;
  transition:
    width var(--transition-time-fast) ease,
    height var(--transition-time-fast) ease;
}

@media (hover: hover) {
  .source-code-box:hover,
  .social-box:hover {
    background: var(--color-black-1c);
  }

  .social-box:hover .nav-icon.social {
    transform: scale(1.3);
  }

  /* Dim !menu-box(s) */
  nav:has(.menu-box:hover) > .menu-box:not(:hover) {
    opacity: 0.15;
  }

  nav:has(.menu-box:hover) > .social-box,
  nav:has(.menu-box:hover) > .source-code-box,
  nav:has(.menu-box:hover) .nav-logo,
  nav:has(.menu-box:hover) .nav-logo-text {
    opacity: 0.15;
  }

  /* Dropdown Menu: Staggard Hover Animations */
  .has-dropdown:hover .nav-dropdown {
    visibility: visible;
    pointer-events: all;
  }

  .has-dropdown:hover .nav-dropdown li {
    opacity: 1;
  }
  .has-dropdown:hover .nav-dropdown li:nth-child(1) {
    transition-delay: 0.1s, 0s;
  }
  .has-dropdown:hover .nav-dropdown li:nth-child(2) {
    transition-delay: 0.2s, 0s;
  }
  .has-dropdown:hover .nav-dropdown li:nth-child(3) {
    transition-delay: 0.3s, 0s;
  }
  .has-dropdown:hover .nav-dropdown li:nth-child(4) {
    transition-delay: 0.4s, 0s;
  }

  .nav-dropdown li:hover {
    background-color: var(--color-black-1c);
  }

  .menu-box.buttons:hover .nav-icon-buttons-inner {
    width: 35%;
    height: 35%;
  }
}

/* Tablet */
@media screen and (max-width: 1000px) {
  .nav-logo-text.active,
  .nav-logo {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 650px) {
  nav {
    height: var(--navMain-heightMobile);
    font-size: 0.85rem;
  }

  .nav-spacer {
    height: var(--navMain-heightMobile);
  }

  li {
    min-width: var(--navMain-heightMobile);
    min-height: var(--navMain-heightMobile);
  }

  .social-box,
  .nav-middle-spacer,
  .nav-icon {
    display: none;
  }

  .nav-menu-text {
    max-width: none;
    overflow: visible;
    opacity: 1;
    margin-left: 1px;
    white-space: nowrap;
  }

  .nav-menu-text.show {
    margin-left: 1px;
  }

  .nav-dropdown {
    display: block;
    position: fixed;
    top: var(--navMain-heightMobile);
    left: 0;
    width: 100%;
    height: auto;
  }

  .nav-menu ul.nav-dropdown li {
    height: 40px;
    margin-top: -2px;
    border-left: none;
    border-right: none;
    padding: 0;
  }

  .nav-dropdown li a {
    width: 100%;
    line-height: 40px;
  }

  .menu-box,
  .source-code-box {
    flex: 1;
  }

  .menu-box:last-of-type:not(:first-of-type),
  .menu-box:nth-child(3),
  .menu-box:nth-child(4) {
    border-right: none;
  }

  .source-code-box:nth-child(3) {
    border-left: none;
  }
}
