nav {
  position: fixed;
  top: 20px;
  display: flex;
  width: 100%;
  padding: 0 20px;
  justify-content: space-between;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  font-size: 0.9rem;
  color: #fff;
  z-index: 1000;
}

.nav-left a,
.nav-right a {
  display: flex;
  position: relative;
  gap: 4px;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.8);
  padding: 5px 10px;
  border-radius: var(--rounded-corners-small);
  isolation: isolate;
}

.nav-icon {
  height: 14px;
}

.nav-icon.github {
  height: 13px;
}

.hover-outline {
  position: absolute;
  border: 1px solid rgba(17, 17, 17, 0);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.6, 0.5, 0.53, 2.5);
}

.nav-left a:hover .hover-outline,
.nav-right a:hover .hover-outline {
  border-color: rgba(17, 17, 17, 0.8);
  border-radius: 7px;
  width: 110%;
  height: 130%;
}
