---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/boxSectionTransition.css";
---

<script type="module" src="/scripts/components/boxSectionTransition.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js" defer></script>

<BaseLayout>
<NavMain 
    title="Pixelated Section Transition"
    navCenterText="Pixelated Section Transition"
    htmlLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/src/pages/components/boxSectionTransition.astro"
    cssLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/src/styles/components/boxSectionTransition.css"
    javascriptLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/public/scripts/components/boxSectionTransition.js" />

    <div class="box-section-container">
        <section class="hero1">
            <p>Shapeshift is the pursuit of harmony within chaos, the act of reaching into the unknown and shaping it into form. It is the quiet discipline of seeing purpose where others see clutter, of finding meaning in&nbsp;motion.</p>
        </section>
        <section class="hero2">
            <div class="blocks-container top">
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
            </div>
            <div class="blocks-container bottom">
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
            </div>
        </section>
        <section class="hero3">
            <p>It is a philosophy that lives through front-end design, where code becomes craft and visual language meets performance. The designer’s role is to balance logic with expression, shaping systems that feel as good as they&nbsp;look.</p>
        </section>
        <section class="hero4">
            <div class="blocks-container top">
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
            </div>
            <div class="blocks-container bottom">
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
                <div class="blocks-row"></div>
            </div>
        </section>
        <section class="hero5">
            <p>Shapeshift is a reminder that great websites are not accidents. They are the result of the alignment of grid and gesture, motion and meaning, content and code. It is about building digital environments that breathe, move, and guide without&nbsp;resistance.</p>
        </section>
    </div>

</BaseLayout>
