---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/circleMaskReveal.css";
---

<SecondaryLayout 
    title="Expand/Collapse Accordion"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/circleMaskReveal.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/circleMaskReveal.css"
>

<div class="main-container">
    <div class="media-container">
        <div class="base-img">
            <img src="/assets/images/image-53.webp" alt="">
            <div class="hover-img">
                <img src="/assets/images/image-31.webp" alt="">
            </div>
        </div>
        <div class="base-img">
            <img src="/assets/images/image-54.webp" alt="">
            <div class="hover-img">
                <img src="/assets/images/image-9.webp" alt="">
            </div>
        </div>
        <div class="base-img">
            <img src="/assets/images/image-55.webp" alt="">
            <div class="hover-img">
                <img src="/assets/images/image-29.webp" alt="">
            </div>
        </div>
    </div>
</div>

</SecondaryLayout>