---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/expandableDirectory.css";
---

<script type="module" src="/scripts/components/expandableDirectory.js"></script>

<BaseLayout>
<NavMain 
    title="Expandable Directory"
    navCenterText="Expandable Directory"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/expandableDirectory.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/expandableDirectory.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/expandableDirectory.js" />

    <div class="container">
        <div class="dialogue-box-container">
            <div class="dialogue-box">
                <div class="top-bar">
                    <div class="top-bar-title">Team Members</div>
                    <div class="top-bar-close-icon"></div>
                </div>
                <div class="avatars">
                    <ul>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-136.webp" alt=""></div>
                            <div class="avatar-text">Shawn</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-118.webp" alt=""></div>
                            <div class="avatar-text">Zoe</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-139.webp" alt=""></div>
                            <div class="avatar-text">Grant</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-116.webp" alt=""></div>
                            <div class="avatar-text">Maya</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-126.webp" alt=""></div>
                            <div class="avatar-text">Kate</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-123.webp" alt=""></div>
                            <div class="avatar-text">Owen</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-125.webp" alt=""></div>
                            <div class="avatar-text">Nora</div>
                        </li>
                        <li>
                            <div class="avatar-image"><img src="/assets/images/image-128.webp" alt=""></div>
                            <div class="avatar-text">Eli</div>
                        </li>
                    </ul>
                </div>
                <button class="cta">View All</button>
            </div>
        </div>
    </div>

<Fragment slot="infoModal">
<p>Component description will go here.</p>
</Fragment>
</BaseLayout>