---
import "../../styles/expandCollapse.css";
---
<html lang="en">
<head>
  <title>Expand/Collapse</title>
  <script defer src="../../scripts/expandCollapse.js"></script>
</head>
<body>
  <div class="cards-container">
  <div class="card">
      <div class="card-header">
        <span>Title 1</span>
        <div class="plus-icon">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11 4H13V6V11H20V13H13V18V20H11V18V13H4V11H11V6V4Z" fill="currentColor"/>
          </svg>
        </div>
     </div>
     <div class="card-body">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
      </div>
    </div>
  <div class="card">
      <div class="card-header">
        <span>Title 2</span>
        <div class="plus-icon">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11 4H13V6V11H20V13H13V18V20H11V18V13H4V11H11V6V4Z" fill="currentColor"/>
          </svg>
        </div>
     </div>
     <div class="card-body">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
      </div>
    </div>
  <div class="card">
      <div class="card-header">
        <span>Title 3</span>
        <div class="plus-icon">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11 4H13V6V11H20V13H13V18V20H11V18V13H4V11H11V6V4Z" fill="currentColor"/>
          </svg>
        </div>
     </div>
     <div class="card-body">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
      </div>
    </div>
  <div class="card">
      <div class="card-header">
        <span>Title 4</span>
        <div class="plus-icon">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11 4H13V6V11H20V13H13V18V20H11V18V13H4V11H11V6V4Z" fill="currentColor"/>
          </svg>
        </div>
     </div>
     <div class="card-body">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
      </div>
    </div>
  <div class="card">
      <div class="card-header">
        <span>Title 5</span>
        <div class="plus-icon">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11 4H13V6V11H20V13H13V18V20H11V18V13H4V11H11V6V4Z" fill="currentColor"/>
          </svg>
        </div>
     </div>
     <div class="card-body">
       Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id voluptate dolorem reprehenderit nisi doloribus? Dolor officiis praesentium aperiam dolorem sequi obcaecati iste corporis voluptatum accusamus.
      </div>
    </div>
  </div>
</body>
</html>