---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/expandImageHover.css";
---

<script type="module" src="/scripts/components/expandImageHover.js"></script>

<SecondaryLayout 
    title="Expand Image on Hover"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/expandImageHover.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/expandImageHover.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/expandImageHover.js"
>
<div class="gallery-container">
    <div class="gallery">
        <div class="image-container active"><img src="/public/assets/images/image-18.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-56.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-52.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-2.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-58.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-11.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-20.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-33.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-54.webp" alt=""></div>
        <div class="image-container"><img src="/public/assets/images/image-24.webp" alt=""></div>
    </div>
</div>
</SecondaryLayout>