---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/horizontalCarouselManual.css";
---
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script type="module" src="/scripts/components/horizontalCarouselManual.js"></script>

<SecondaryLayout title="Simple Carousel" rightLinkHref="">
    <div class="carousel-container">
        <div class="carousel-wrapper">
            <div class="carousel-track">
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-44.webp" alt="">
                    </div>
                    <div class="slide-description"><span>Every streak of light carries a story,</span> every blur a decision, every frame a reflection of what happens when instinct leads imagination.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-13.webp" alt="">
                    </div>
                    <div class="slide-description"><span>Creativity moves through light,</span> reshaping what’s familiar into something alive, a blur of vision and instinct that refuses to stay still.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-52.webp" alt="">
                    </div>
                    <div class="slide-description"><span>Each idea lives inside motion,</span> colliding with instinct, forming a rhythm that turns hesitation into confidence and every frame into imagination.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-33.webp" alt="">
                    </div>
                    <div class="slide-description"><span>We design in motion,</span> guided by curiosity, chasing the line between control and freedom until thought becomes form and energy becomes expression.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-20.webp" alt="">
                    </div>
                    <div class="slide-description"><span>Creativity is never still;</span> it thrives in velocity, where emotion meets precision and every blurred edge proves progress is always in motion.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-19.webp" alt="">
                    </div>
                    <div class="slide-description"><span>From sound to texture,</span> from shadow to flash, creativity builds its own language, translating motion into an emotion that moves through every frame.</div>
                </div>
                <div class="carousel-slide">
                    <div class="slide-image">
                        <div class="blur-container"></div>
                        <img src="/assets/images/image-40.webp" alt="">
                    </div>
                    <div class="slide-description"><span>In color we find clarity,</span> in motion we find truth, and in creativity we find the pulse that turns moments into something lasting.</div>
                </div>
            </div>

            <div class="carousel-controls">
                <button class="carousel-button" id="previous" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20" fill="none">
                    <path d="M11.454 8.81639C12.055 9.55284 12.0127 10.6396 11.3261 11.3262L3.82611 18.8262C3.09388 19.5584 1.906 19.5584 1.17377 18.8262C0.441536 18.0939 0.441536 16.906 1.17377 16.1738L7.3476 9.99998L1.17377 3.82615C0.441537 3.09392 0.441537 1.90604 1.17377 1.17381C1.906 0.441575 3.09388 0.441575 3.82611 1.17381L11.3261 8.67381L11.454 8.81639Z" fill="currentColor"/>
                    </svg>
                </button>
                <button class="carousel-button active" id="next">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 20" fill="none">
                    <path d="M11.454 8.81639C12.055 9.55284 12.0127 10.6396 11.3261 11.3262L3.82611 18.8262C3.09388 19.5584 1.906 19.5584 1.17377 18.8262C0.441536 18.0939 0.441536 16.906 1.17377 16.1738L7.3476 9.99998L1.17377 3.82615C0.441537 3.09392 0.441537 1.90604 1.17377 1.17381C1.906 0.441575 3.09388 0.441575 3.82611 1.17381L11.3261 8.67381L11.454 8.81639Z" fill="currentColor"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</SecondaryLayout>