---
import "../../styles/hoverButtonTest.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Hover Button</title>
    <script src="../../scripts/hoverButtonTest.js" defer></script>
</head>
<body>
    <div class="btn-container">
        <div class="btn">
            <ul class="btn-list">
                <a href="https://www.designcanon.dev/hoverButtonTest/index.html" class="btn-wrapper">
                    <div class="btn-icon"></div>
                    <div class="btn-text">Home</div>
                </a>
                <a href="#" class="btn-wrapper">
                    <div class="btn-icon"></div>
                    <div class="btn-text">About</div>
                </a>
                <a href="#" class="btn-wrapper">
                    <div class="btn-icon"></div>
                    <div class="btn-text">Resources</div>
                </a>
                <a href="#" class="btn-wrapper">
                    <div class="btn-icon"></div>
                    <div class="btn-text">Tutorials</div>
                </a>
                <a href="#" class="btn-wrapper">
                    <div class="btn-icon"></div>
                    <div class="btn-text">Contact</div>
                </a>
            </ul>
        </div>
    </div>
</body>
</html>