---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/hoverRevealMenu2.css";
---

<script type="module" src="/scripts/components/hoverRevealMenu.js"></script>

<BaseLayout>
<NavMain 
    title="Reveal Menu Items | Home"
    navCenterText="Reveal Menu Items | Home"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/hoverRevealMenu.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/hoverRevealMenu.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/hoverRevealMenu.js" />

    <div class="container">
        <div class="btn-section">
            <div class="btn-wrapper">

                <div class="btn">
                    <div class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83 83" fill="none">
                            <path d="M49.4199 8.23633H57.6562V16.4736H65.8936V24.71H74.1299V32.9463H82.3662V41.1836H74.1299V82.3662H45.3018V57.6562H37.0645V82.3662H8.23633V41.1836H0V32.9463H8.23633V24.71H16.4736V16.4736H24.71V8.23633H32.9463V0H49.4199V8.23633Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="btn-text active">Home</div>
                </div>

                <div class="btn">
                    <div class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66 83" fill="none">
                            <path d="M8.23633 74.1299H57.6572V57.6562H65.8936V82.3662H0V57.6562H8.23633V74.1299ZM57.6562 57.6572H8.23633V49.4199H57.6562V57.6572ZM45.3008 41.1836H20.5908V32.9473H45.3008V41.1836ZM45.3008 8.2373H20.5918V32.9463H12.3555V8.23633H20.5908V0H45.3008V8.2373ZM53.5391 32.9463H45.3018V8.23633H53.5391V32.9463Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="btn-text">About</div>
                </div>

                <div class="btn">
                    <div class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 83" fill="none">
                            <path d="M74.1836 24.7275H65.9414V16.4854H57.6982V24.7275H49.4561V16.4854H57.6982V8.24219H49.4561V0H0V82.4268H74.1836V24.7275ZM8.24316 8.24219H41.2139V32.9707H65.9414V74.1836H8.24316V8.24219ZM32.9707 32.9707V24.7275H16.4854V32.9707H32.9707ZM57.6982 41.2129H16.4854V49.4561H57.6982V41.2129ZM41.2139 57.6982H16.4854V65.9414H41.2139V57.6982Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="btn-text">Thesis</div>
                </div>

                <div class="btn">
                    <div class="btn-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 86 86" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H85.5344V85.5344H0V0ZM9.50382 9.50382V19.0076H19.0076V9.50382H9.50382ZM28.5115 9.50382V38.0153H57.0229V9.50382H28.5115ZM66.5267 9.50382V19.0076H76.0305V9.50382H66.5267ZM76.0305 28.5115H66.5267V38.0153H76.0305V28.5115ZM76.0305 47.5191H66.5267V57.0229H76.0305V47.5191ZM76.0305 66.5267H66.5267V76.0305H76.0305V66.5267ZM57.0229 76.0305V47.5191H28.5115V76.0305H57.0229ZM19.0076 76.0305V66.5267H9.50382V76.0305H19.0076ZM9.50382 57.0229H19.0076V47.5191H9.50382V57.0229ZM9.50382 38.0153H19.0076V28.5115H9.50382V38.0153Z" fill="currentColor"/>
                        </svg>
                    </div>
                    <div class="btn-text">Tutorials</div>
                </div>

            </div>
        </div>
    </div>

</BaseLayout>
