---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/lightboxWithControls.css";
---
<script type="module" src="/scripts/components/lightboxWithControls.js"></script>

<SecondaryLayout 
    title="Lightbox with Controls"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/lightboxWithControls.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/lightboxWithControls.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/lightboxWithControls.js"
>
    <section class="grid-container">
        <div class="grid">
            <div class="grid-item" data-index="0">
                <img src="/public/assets/images/image-58.webp" alt="">
            </div>
            <div class="grid-item" data-index="1">
                <img src="/public/assets/images/image-60.webp" alt="">
            </div>
            <div class="grid-item" data-index="2">
                <img src="/public/assets/images/image-43.webp" alt="">
            </div>
            <div class="grid-item" data-index="3">
                <img src="/public/assets/images/image-20.webp" alt="">
            </div>
            <div class="grid-item" data-index="4">
                <img src="/public/assets/images/image-59.webp" alt="">
            </div>
            <div class="grid-item" data-index="5">
                <img src="/public/assets/images/image-61.webp" alt="">
            </div>
        </div>
        <div class="controls">
            <div class="exit-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" fill="none">
                <path d="M16.2881 0.62551C17.1221 1.45953 17.1219 2.81176 16.2881 3.64591L11.4212 8.51279L16.1762 13.2678C17.0103 14.1019 17.0102 15.4541 16.1762 16.2882C15.3421 17.1223 13.99 17.1223 13.1558 16.2882L8.40083 11.5332L3.75768 16.1763C2.92355 17.0104 1.57139 17.0104 0.737283 16.1763C-0.0968243 15.3422 -0.0967883 13.9901 0.737283 13.1559L5.38043 8.51279L0.626107 3.75846C-0.208018 2.92434 -0.208709 1.5715 0.625416 0.737376C1.45956 -0.0965723 2.81244 -0.0959996 3.6465 0.738067L8.40083 5.49239L13.2677 0.62551C14.1019 -0.208285 15.4541 -0.208505 16.2881 0.62551Z" fill="white"/>
                </svg>
            </div>
            <div class="next-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 19" fill="none">
                <path d="M0.536965 3.24364C-0.178986 2.50165 -0.178985 1.29848 0.536966 0.556493C1.25292 -0.185496 2.41386 -0.185496 3.12981 0.556494L10.463 8.15643C11.179 8.89842 11.179 10.1016 10.463 10.8436L3.12981 18.4435C2.41386 19.1855 1.25291 19.1855 0.536963 18.4435C-0.178988 17.7015 -0.178987 16.4984 0.536964 15.7564L6.57377 9.5L0.536965 3.24364Z" fill="white"/>
                </svg>
            </div>
            <div class="prev-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 11 19" fill="none">
                <path d="M0.536965 3.24364C-0.178986 2.50165 -0.178985 1.29848 0.536966 0.556493C1.25292 -0.185496 2.41386 -0.185496 3.12981 0.556494L10.463 8.15643C11.179 8.89842 11.179 10.1016 10.463 10.8436L3.12981 18.4435C2.41386 19.1855 1.25291 19.1855 0.536963 18.4435C-0.178988 17.7015 -0.178987 16.4984 0.536964 15.7564L6.57377 9.5L0.536965 3.24364Z" fill="white"/>
                </svg>
            </div>
        </div>
    </section>
    <div class="lightbox">
        <img class="lightbox-image" src="" alt="">
        <img class="lightbox-image" src="" alt="">
    </div>
</SecondaryLayout>