---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/marqueeScrollBased.css";
---
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script type="module" src="/scripts/components/marqueeScrollBased.js"></script>

<SecondaryLayout title="Infinite Marquee (Scroll-Based)">
    <div class="background"></div>
    <div class="marquee-spacer"></div>

    <section class="marquee">
        <div class="marquee-inner">
            <div class="marquee-part">
                Design Canon = Purpose + Aesthetic + Function
                <div class="arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
            <div class="marquee-part">
                Design Canon = Purpose + Aesthetic + Function
                <div class="arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
            <div class="marquee-part">
                Design Canon = Purpose + Aesthetic + Function
                <div class="arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
            <div class="marquee-part">
                Design Canon = Purpose + Aesthetic + Function
                <div class="arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
            <div class="marquee-part">
                Design Canon = Purpose + Aesthetic + Function
                <div class="arrow">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4 11L4 13L16 13L16 15L18 15L18 13L20 13L20 11L18 11L18 9L16 9L16 11L4 11ZM14 7L16 7L16 9L14 9L14 7ZM14 7L12 7L12 5L14 5L14 7ZM14 17L16 17L16 15L14 15L14 17ZM14 17L12 17L12 19L14 19L14 17Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    
    <div class="marquee-spacer"></div>
</SecondaryLayout>