---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/pixelatedPageTransition.css";
---
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script type="module" src="/scripts/components/pixelatedPageTransition.js"></script>

<body>
    <SecondaryLayout title="Pixelated Page Transition">
        <div class="toggle-container">
            <div class="toggle inactive"></div>
        </div>
    <div id="square-container"></div>
    <div class="content-overlay">
        <div class="toggle active"></div>
        <div class="background"></div>
    </div>
</SecondaryLayout>