---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/responsiveGridLayout.css";
---

<!-- Consider rebuilding this as a GSAP Flip grid animation -->

<SecondaryLayout 
    title="Responsive Grid Layout"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/responsiveGridLayout.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/responsiveGridLayout.css"
>
    <div class="container">
        <header>
            <h1>Responsive Grid Layout</h1>
        </header>
    <div class="wall">
        <div class="wall-item">
            <img src="/assets/textures/texture-1.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-2.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-3.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-5.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-6.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-7.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-8.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-9.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-10.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>

        <div class="wall-item">
            <img src="/assets/textures/texture-11.png" alt="">
            <h2>Title Goes Here</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, nam odit, doloremque laborum cum, ducimus inventore non perspiciatis rem ipsum magni pariatur. Molestias sint possimus repellat saepe reiciendis laudantium quia?</p>
        </div>
    </div>
    </div>
</SecondaryLayout>