---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/scrollSnap.css";
---

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script type="module" src="/scripts/components/scrollSnap.js"></script>

<BaseLayout>
<NavMain 
    title="Scroll Snap"
    navCenterText="Scroll Snap"
    htmlLinkHref="https://github.com/jaretpeerson/toggle/blob/main/src/pages/components/scrollSnap.astro"
    cssLinkHref="https://github.com/jaretpeerson/toggle/blob/main/src/styles/components/scrollSnap.css"
    javascriptLinkHref="https://github.com/jaretpeerson/toggle/blob/main/public/scripts/components/scrollSnap.js" />

    <section class="section-container">
        <div class="section-button">Design Canon</div>
        <div class="section-text">Bridging design and development through modern front-end architecture.</div>
    </section>
    <section class="section-container">
        <img src="/assets/images/image-109.webp" alt="">
    </section>
    <section class="section-container">
        <div class="section-button">Purpose</div>
        <div class="section-text">Clarity at the foundation so the entire system can evolve with purpose.</div>
    </section>
    <section class="section-container">
        <img src="/assets/images/image-112.webp" alt="">
    </section>
    <section class="section-container">
        <div class="section-button">Aesthetic</div>
        <div class="section-text">A visual language built to guide attention and create meaningful connection.</div>
    </section>
    <section class="section-container">
        <img src="/assets/images/image-107.webp" alt="">
    </section>
    <section class="section-container">
        <div class="section-button">Function</div>
        <div class="section-text">Engineered to feel intuitive and effortless at every step of the experience.</div>
    </section>
    
</BaseLayout>