---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/scrollSnap.css";
---

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<script type="module" src="/scripts/components/scrollSnap.js"></script>

<BaseLayout>
<NavMain 
    title="Scroll Snap"
    navCenterText="Scroll Snap"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/circleMaskReveal.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/circleMaskReveal.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/ircleMaskReveal.js" />

    <section class="section-container"></section>
    <section class="section-container">
        <img src="/assets/images/image-97.webp" alt="">
    </section>
    <section class="section-container">
        <img src="/assets/images/image-87.webp" alt="">
    </section>
    <section class="section-container">
        <img src="/assets/images/image-96.webp" alt="">
    </section>
    <section class="section-container">
        <img src="/assets/images/image-88.webp" alt="">
    </section>
    <section class="section-container">
        <img src="/assets/images/image-98.webp" alt="">
    </section>
    <section class="section-container">
        <img src="/assets/images/image-99.webp" alt="">
    </section>

</BaseLayout>