---
import "../../styles/scrollIndicatorVertical.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Vertical Scroll Indicator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script defer src="../../scripts/scrollIndicatorVertical.js"></script>
</head>
<body>
    <div class="percent-container">
        <div class="percent">
            <div class="fill"></div>
            <div class="counter"><h1></h1></div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia labore saepe voluptatum expedita dolorem recusandae totam iste? Libero expedita rem, consequuntur quasi ex sit. Harum nam excepturi cum a tenetur tempora nisi atque. Debitis ipsum possimus deleniti libero magnam!</p>
        </div>
    </div>
</body>
</html>