---
import SecondaryLayout from "../../layouts/secondaryLayout.astro";
import "../../styles/components/timedContentSection.css";
---
<script type="module" src="/scripts/components/timedContentSection.js"></script>

<SecondaryLayout 
    title="Timed Content Section"
    htmlLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/pages/components/timedContentSection.astro"
    cssLinkHref="https://github.com/jpeerson108/designCanon/blob/main/src/styles/components/timedContentSection.css"
    javascriptLinkHref="https://github.com/jpeerson108/designCanon/blob/main/public/scripts/components/timedContentSection.js"
>
<section class="content-section-wrapper">
    <article class="content-section-data-wrapper">
        <header class="content-section-header">The core principles of Design Canon</header>
        <ul>
            <li class="content-section-item">
                <span class="custom-bullet">
                    <span class="custom-bullet-filler"></span>
                </span>
                <p>Purpose defines why</p>
            </li>
            <li class="content-section-item">
                <span class="custom-bullet">
                    <span class="custom-bullet-filler"></span>
                </span>
                <p>Aesthetic reveals what</p>
            </li>
            <li class="content-section-item">
                <span class="custom-bullet">
                    <span class="custom-bullet-filler"></span>
                </span>
                <p>Function determines how</p>
            </li>
        </ul>
    </article>
    <aside class="content-section-media-wrapper" id="content-section-media-wrapper-1">
        <span class="media-wrapper-outline"></span>
        <figure class="media-wrapper-fill">
            <div class="media-wrapper-top-filepath">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" viewBox="0 0 16 20" fill="none">
                <path d="M8 0H2.125C1.56141 0 1.02091 0.223883 0.622398 0.622398C0.223883 1.02091 0 1.56141 0 2.125V17.875C0 18.4386 0.223883 18.9791 0.622398 19.3776C1.02091 19.7761 1.56141 20 2.125 20H13.875C14.4386 20 14.9791 19.7761 15.3776 19.3776C15.7761 18.9791 16 18.4386 16 17.875V8H10.125C9.56141 8 9.02091 7.77612 8.6224 7.3776C8.22388 6.97909 8 6.43859 8 5.875V0ZM15.813 6.75C15.707 6.51513 15.5597 6.30123 15.378 6.1185L9.881 0.6225C9.69831 0.440651 9.4844 0.293137 9.2495 0.187V5.875C9.2495 6.358 9.6415 6.75 10.1245 6.75H15.813Z" fill="#333333"/>
                </svg>
                <p>Design Canon</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="9" viewBox="0 0 5 9" fill="none">
                <path d="M0.244074 1.53646C-0.0813584 1.18499 -0.0813584 0.615071 0.244074 0.263602C0.569506 -0.0878666 1.09721 -0.0878667 1.42264 0.263602L4.75593 3.86357C5.08136 4.21504 5.08136 4.78496 4.75593 5.13643L1.42264 8.7364C1.09721 9.08787 0.569507 9.08787 0.244074 8.7364C-0.0813581 8.38493 -0.0813581 7.81501 0.244074 7.46354L2.98808 4.5L0.244074 1.53646Z" fill="#333333"/>
                </svg>
                <p>Mission</p>
            </div>
            <article class="media-wrapper-content">
                <span class="content-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                    <path d="M30 11.8776C30.0009 11.5258 29.9321 11.1772 29.7973 10.8522C29.6626 10.5271 29.4648 10.232 29.2152 9.98399L20.0173 0.784881C19.7686 0.53605 19.4732 0.33866 19.1482 0.203988C18.8232 0.0693159 18.4748 0 18.1229 0C17.7711 0 17.4227 0.0693159 17.0977 0.203988C16.7726 0.33866 16.4773 0.53605 16.2286 0.784881L12.5028 4.51059L4.83704 7.3859C4.3968 7.55086 4.00774 7.82879 3.70895 8.19176C3.41016 8.55472 3.21216 8.98993 3.13487 9.45366L0.0224779 28.1251C-0.016489 28.3556 -0.00468653 28.5919 0.0570616 28.8174C0.11881 29.0429 0.229016 29.2522 0.379993 29.4307C0.530969 29.6092 0.719079 29.7526 0.931197 29.8509C1.14332 29.9493 1.37433 30.0001 1.60814 30C1.69786 30.0003 1.78746 29.9932 1.87598 29.9786L20.5517 26.8649C21.0149 26.7868 21.4496 26.5887 21.8124 26.2903C22.1752 25.9918 22.4535 25.6035 22.6194 25.1641L25.4934 17.497L29.2192 13.7713C29.4681 13.523 29.6653 13.2277 29.7993 12.9027C29.9333 12.5776 30.0015 12.2292 30 11.8776ZM19.7146 23.7458L6.29547 25.9823L10.715 21.5629C11.6863 22.0014 12.7806 22.0852 13.8074 21.7999C14.8342 21.5146 15.7284 20.8782 16.3343 20.0015C16.9402 19.1248 17.2194 18.0633 17.1232 17.002C17.0271 15.9407 16.5617 14.9467 15.8081 14.1931C15.0546 13.4395 14.0606 12.9742 12.9992 12.878C11.9378 12.7819 10.8764 13.061 9.99966 13.6669C9.12294 14.2728 8.48651 15.167 8.2012 16.1938C7.91589 17.2206 7.99978 18.3149 8.43825 19.2862L4.01876 23.7056L6.25529 10.2867L12.9917 7.76088L22.2391 17.0095L19.7146 23.7458ZM11.2506 17.4113C11.2506 17.1464 11.3292 16.8875 11.4763 16.6673C11.6235 16.447 11.8327 16.2754 12.0774 16.174C12.3221 16.0727 12.5914 16.0461 12.8512 16.0978C13.1109 16.1495 13.3496 16.277 13.5369 16.4643C13.7242 16.6516 13.8517 16.8903 13.9034 17.15C13.9551 17.4098 13.9285 17.6791 13.8272 17.9238C13.7258 18.1685 13.5542 18.3777 13.3339 18.5248C13.1137 18.672 12.8548 18.7505 12.5899 18.7505C12.2347 18.7505 11.8941 18.6094 11.6429 18.3583C11.3917 18.1071 11.2506 17.7665 11.2506 17.4113ZM24.1073 14.3311L15.6701 5.89401L18.1263 3.43788L26.5635 11.875L24.1073 14.3311Z" fill="#EC6533"/>
                    </svg>
                </span>
                <span class="content-text-header">Aesthetic</span>
                <span class="content-text-main">Aesthetic shapes the visual language through structure, layout, and rhythm, transforming ideas into identity and intention into presence.</span>
                <span class="content-text-secondary">It gives design its character and emotional weight, creating beauty with clarity, consistency, and expression that connects what is seen with what is felt.</span>
            </article>
        </figure>
        <div class="media-wrapper-bottom-gradient"></div>
    </aside>
</section>
</SecondaryLayout>