---
import BaseLayout from "../../layouts/baseLayout.astro";
import NavMain from "@/components/navMain.astro";
import "../../styles/components/timedContentSection.css";
---
<script type="module" src="/scripts/components/timedContentSection.js"></script>

<BaseLayout>
<NavMain 
    title="Timed Content Section"
    navCenterText="Timed Content Section"
    htmlLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/src/pages/components/timedContentSection.astro"
    cssLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/src/styles/components/timedContentSection.css"
    javascriptLinkHref="https://github.com/jpeerson108/shapeshift/blob/main/public/scripts/components/timedContentSection.js" />

    <div class="container">
        <section class="content-section-wrapper">
            <article class="content-section-data-wrapper">
                <header class="content-section-header">The core principles of Design&nbsp;Canon</header>
                <ul>
                    <li class="content-section-item active">
                        <span class="custom-bullet">
                            <span class="custom-bullet-filler"></span>
                        </span>
                        <p>Purpose defines why</p>
                    </li>
                    <li class="content-section-item">
                        <span class="custom-bullet">
                            <span class="custom-bullet-filler"></span>
                        </span>
                        <p>Aesthetic reveals what</p>
                    </li>
                    <li class="content-section-item">
                        <span class="custom-bullet">
                            <span class="custom-bullet-filler"></span>
                        </span>
                        <p>Function determines how</p>
                    </li>
                </ul>
            </article>
            
            <div class="content-section-media-stack">
                <aside class="content-section-media-wrapper active">
                    <div class="media-wrapper-outline">
                        <figure class="media-wrapper-fill">
                            <div class="media-wrapper-top-filepath">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" fill="none">
                                <path d="M8 0H2.125C1.56141 0 1.02091 0.223883 0.622398 0.622398C0.223883 1.02091 0 1.56141 0 2.125V17.875C0 18.4386 0.223883 18.9791 0.622398 19.3776C1.02091 19.7761 1.56141 20 2.125 20H13.875C14.4386 20 14.9791 19.7761 15.3776 19.3776C15.7761 18.9791 16 18.4386 16 17.875V8H10.125C9.56141 8 9.02091 7.77612 8.6224 7.3776C8.22388 6.97909 8 6.43859 8 5.875V0ZM15.813 6.75C15.707 6.51513 15.5597 6.30123 15.378 6.1185L9.881 0.6225C9.69831 0.440651 9.4844 0.293137 9.2495 0.187V5.875C9.2495 6.358 9.6415 6.75 10.1245 6.75H15.813Z" fill="currentColor"/>
                                </svg>
                                <p>Design Canon</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9" fill="none">
                                <path d="M0.244074 1.53646C-0.0813584 1.18499 -0.0813584 0.615071 0.244074 0.263602C0.569506 -0.0878666 1.09721 -0.0878667 1.42264 0.263602L4.75593 3.86357C5.08136 4.21504 5.08136 4.78496 4.75593 5.13643L1.42264 8.7364C1.09721 9.08787 0.569507 9.08787 0.244074 8.7364C-0.0813581 8.38493 -0.0813581 7.81501 0.244074 7.46354L2.98808 4.5L0.244074 1.53646Z" fill="currentColor"/>
                                </svg>
                                <p>Mission</p>
                            </div>
                            <article class="media-wrapper-content">
                                <span class="content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                                    <path d="M15 0C15.3978 0 15.7794 0.158035 16.0607 0.43934C16.342 0.720644 16.5 1.10218 16.5 1.5C16.5 1.89782 16.342 2.27936 16.0607 2.56066C15.7794 2.84196 15.3978 3 15 3C12.6266 3 10.3065 3.70379 8.33316 5.02236C6.35977 6.34094 4.8217 8.21509 3.91345 10.4078C3.00519 12.6005 2.76755 15.0133 3.23058 17.3411C3.6936 19.6689 4.83649 21.8071 6.51472 23.4853C8.19295 25.1635 10.3311 26.3064 12.6589 26.7694C14.9867 27.2324 17.3995 26.9948 19.5922 26.0866C21.7849 25.1783 23.6591 23.6402 24.9776 21.6668C26.2962 19.6935 27 17.3734 27 15C27 14.6022 27.158 14.2206 27.4393 13.9393C27.7206 13.658 28.1022 13.5 28.5 13.5C28.8978 13.5 29.2794 13.658 29.5607 13.9393C29.842 14.2206 30 14.6022 30 15C30 23.2845 23.2845 30 15 30C6.7155 30 0 23.2845 0 15C0 6.7155 6.7155 0 15 0ZM15 6C15.3978 6 15.7794 6.15804 16.0607 6.43934C16.342 6.72064 16.5 7.10218 16.5 7.5C16.5 7.89782 16.342 8.27936 16.0607 8.56066C15.7794 8.84196 15.3978 9 15 9C13.8133 9 12.6533 9.35189 11.6666 10.0112C10.6799 10.6705 9.91085 11.6075 9.45672 12.7039C9.0026 13.8003 8.88378 15.0067 9.11529 16.1705C9.3468 17.3344 9.91824 18.4035 10.7574 19.2426C11.5965 20.0818 12.6656 20.6532 13.8295 20.8847C14.9933 21.1162 16.1997 20.9974 17.2961 20.5433C18.3925 20.0892 19.3295 19.3201 19.9888 18.3334C20.6481 17.3467 21 16.1867 21 15C21 14.6022 21.158 14.2206 21.4393 13.9393C21.7206 13.658 22.1022 13.5 22.5 13.5C22.8978 13.5 23.2794 13.658 23.5607 13.9393C23.842 14.2206 24 14.6022 24 15C24 16.78 23.4722 18.5201 22.4832 20.0001C21.4943 21.4802 20.0887 22.6337 18.4442 23.3149C16.7996 23.9961 14.99 24.1743 13.2442 23.8271C11.4984 23.4798 9.89471 22.6226 8.63604 21.364C7.37737 20.1053 6.5202 18.5016 6.17293 16.7558C5.82567 15.01 6.0039 13.2004 6.68508 11.5558C7.36627 9.91131 8.51983 8.50571 9.99987 7.51677C11.4799 6.52784 13.22 6 15 6ZM24.8565 0.15C25.0554 0.15 25.2462 0.229018 25.3868 0.36967C25.5275 0.510322 25.6065 0.701087 25.6065 0.9V3.645C25.6069 3.84365 25.6861 4.03403 25.8267 4.17436C25.9673 4.31469 26.1578 4.3935 26.3565 4.3935H29.1C29.2989 4.3935 29.4897 4.47252 29.6303 4.61317C29.771 4.75382 29.85 4.94459 29.85 5.1435V6.516L27.018 9.348C26.4555 9.91065 25.6926 10.2268 24.897 10.227H21.897L16.062 16.0605C15.7791 16.3337 15.4002 16.4849 15.0069 16.4815C14.6136 16.4781 14.2374 16.3203 13.9593 16.0422C13.6812 15.7641 13.5234 15.3879 13.52 14.9946C13.5166 14.6013 13.6678 14.2224 13.941 13.9395L19.776 8.106V5.106C19.7758 4.31063 20.0914 3.54772 20.6535 2.985L23.4885 0.15H24.8565Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                <span class="content-text-header">Purpose</span>
                                <span class="content-text-main">Design begins with a strategic vision. Purpose defines why something exists, shaping the goals, long-term direction, and deeper meaning of the&nbsp;work.</span>
                                <span class="content-text-secondary">It ensures design is intentional, relevant, and enduring, guiding every creative decision toward clarity and impact. Through purpose, aesthetic and function find alignment, creating design that communicates with meaning and stands the test of&nbsp;time.</span>
                            </article>
                        </figure>
                    </div>
                    <div class="media-wrapper-bottom-gradient"></div>
                </aside>

                <aside class="content-section-media-wrapper">
                    <div class="media-wrapper-outline">
                        <figure class="media-wrapper-fill">
                            <div class="media-wrapper-top-filepath">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" fill="none">
                                <path d="M8 0H2.125C1.56141 0 1.02091 0.223883 0.622398 0.622398C0.223883 1.02091 0 1.56141 0 2.125V17.875C0 18.4386 0.223883 18.9791 0.622398 19.3776C1.02091 19.7761 1.56141 20 2.125 20H13.875C14.4386 20 14.9791 19.7761 15.3776 19.3776C15.7761 18.9791 16 18.4386 16 17.875V8H10.125C9.56141 8 9.02091 7.77612 8.6224 7.3776C8.22388 6.97909 8 6.43859 8 5.875V0ZM15.813 6.75C15.707 6.51513 15.5597 6.30123 15.378 6.1185L9.881 0.6225C9.69831 0.440651 9.4844 0.293137 9.2495 0.187V5.875C9.2495 6.358 9.6415 6.75 10.1245 6.75H15.813Z" fill="currentColor"/>
                                </svg>
                                <p>Design Canon</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9" fill="none">
                                <path d="M0.244074 1.53646C-0.0813584 1.18499 -0.0813584 0.615071 0.244074 0.263602C0.569506 -0.0878666 1.09721 -0.0878667 1.42264 0.263602L4.75593 3.86357C5.08136 4.21504 5.08136 4.78496 4.75593 5.13643L1.42264 8.7364C1.09721 9.08787 0.569507 9.08787 0.244074 8.7364C-0.0813581 8.38493 -0.0813581 7.81501 0.244074 7.46354L2.98808 4.5L0.244074 1.53646Z" fill="currentColor"/>
                                </svg>
                                <p>Mission</p>
                            </div>
                            <article class="media-wrapper-content">
                                <span class="content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="none">
                                    <path d="M30 11.8776C30.0009 11.5258 29.9321 11.1772 29.7973 10.8522C29.6626 10.5271 29.4648 10.232 29.2152 9.98399L20.0173 0.784881C19.7686 0.53605 19.4732 0.33866 19.1482 0.203988C18.8232 0.0693159 18.4748 0 18.1229 0C17.7711 0 17.4227 0.0693159 17.0977 0.203988C16.7726 0.33866 16.4773 0.53605 16.2286 0.784881L12.5028 4.51059L4.83704 7.3859C4.3968 7.55086 4.00774 7.82879 3.70895 8.19176C3.41016 8.55472 3.21216 8.98993 3.13487 9.45366L0.0224779 28.1251C-0.016489 28.3556 -0.00468653 28.5919 0.0570616 28.8174C0.11881 29.0429 0.229016 29.2522 0.379993 29.4307C0.530969 29.6092 0.719079 29.7526 0.931197 29.8509C1.14332 29.9493 1.37433 30.0001 1.60814 30C1.69786 30.0003 1.78746 29.9932 1.87598 29.9786L20.5517 26.8649C21.0149 26.7868 21.4496 26.5887 21.8124 26.2903C22.1752 25.9918 22.4535 25.6035 22.6194 25.1641L25.4934 17.497L29.2192 13.7713C29.4681 13.523 29.6653 13.2277 29.7993 12.9027C29.9333 12.5776 30.0015 12.2292 30 11.8776ZM19.7146 23.7458L6.29547 25.9823L10.715 21.5629C11.6863 22.0014 12.7806 22.0852 13.8074 21.7999C14.8342 21.5146 15.7284 20.8782 16.3343 20.0015C16.9402 19.1248 17.2194 18.0633 17.1232 17.002C17.0271 15.9407 16.5617 14.9467 15.8081 14.1931C15.0546 13.4395 14.0606 12.9742 12.9992 12.878C11.9378 12.7819 10.8764 13.061 9.99966 13.6669C9.12294 14.2728 8.48651 15.167 8.2012 16.1938C7.91589 17.2206 7.99978 18.3149 8.43825 19.2862L4.01876 23.7056L6.25529 10.2867L12.9917 7.76088L22.2391 17.0095L19.7146 23.7458ZM11.2506 17.4113C11.2506 17.1464 11.3292 16.8875 11.4763 16.6673C11.6235 16.447 11.8327 16.2754 12.0774 16.174C12.3221 16.0727 12.5914 16.0461 12.8512 16.0978C13.1109 16.1495 13.3496 16.277 13.5369 16.4643C13.7242 16.6516 13.8517 16.8903 13.9034 17.15C13.9551 17.4098 13.9285 17.6791 13.8272 17.9238C13.7258 18.1685 13.5542 18.3777 13.3339 18.5248C13.1137 18.672 12.8548 18.7505 12.5899 18.7505C12.2347 18.7505 11.8941 18.6094 11.6429 18.3583C11.3917 18.1071 11.2506 17.7665 11.2506 17.4113ZM24.1073 14.3311L15.6701 5.89401L18.1263 3.43788L26.5635 11.875L24.1073 14.3311Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                <span class="content-text-header">Aesthetic</span>
                                <span class="content-text-main">Aesthetic shapes the visual language through structure, layout, and rhythm, transforming ideas into identity and intention into&nbsp;presence.</span>
                                <span class="content-text-secondary">It gives design its character and emotional weight, creating beauty with clarity, consistency, and expression that connects what is seen with what is&nbsp;felt.</span>
                            </article>
                        </figure>
                    </div>
                    <div class="media-wrapper-bottom-gradient"></div>
                </aside>

                <aside class="content-section-media-wrapper">
                    <div class="media-wrapper-outline">
                        <figure class="media-wrapper-fill">
                            <div class="media-wrapper-top-filepath">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 20" fill="none">
                                <path d="M8 0H2.125C1.56141 0 1.02091 0.223883 0.622398 0.622398C0.223883 1.02091 0 1.56141 0 2.125V17.875C0 18.4386 0.223883 18.9791 0.622398 19.3776C1.02091 19.7761 1.56141 20 2.125 20H13.875C14.4386 20 14.9791 19.7761 15.3776 19.3776C15.7761 18.9791 16 18.4386 16 17.875V8H10.125C9.56141 8 9.02091 7.77612 8.6224 7.3776C8.22388 6.97909 8 6.43859 8 5.875V0ZM15.813 6.75C15.707 6.51513 15.5597 6.30123 15.378 6.1185L9.881 0.6225C9.69831 0.440651 9.4844 0.293137 9.2495 0.187V5.875C9.2495 6.358 9.6415 6.75 10.1245 6.75H15.813Z" fill="currentColor"/>
                                </svg>
                                <p>Design Canon</p>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 9" fill="none">
                                <path d="M0.244074 1.53646C-0.0813584 1.18499 -0.0813584 0.615071 0.244074 0.263602C0.569506 -0.0878666 1.09721 -0.0878667 1.42264 0.263602L4.75593 3.86357C5.08136 4.21504 5.08136 4.78496 4.75593 5.13643L1.42264 8.7364C1.09721 9.08787 0.569507 9.08787 0.244074 8.7364C-0.0813581 8.38493 -0.0813581 7.81501 0.244074 7.46354L2.98808 4.5L0.244074 1.53646Z" fill="currentColor"/>
                                </svg>
                                <p>Mission</p>
                            </div>
                            <article class="media-wrapper-content">
                                <span class="content-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 30" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4238 2.9996H15.5706C15.6749 2.9996 15.7749 3.04174 15.8486 3.11674C15.9223 3.19175 15.9637 3.29347 15.9637 3.39955C15.9637 7.01506 19.8123 9.27676 22.8903 7.467C22.9801 7.41532 23.0863 7.40166 23.186 7.42898C23.2857 7.45629 23.3708 7.52238 23.4229 7.61299L24.9993 10.3886C25.0507 10.4802 25.0645 10.5888 25.0376 10.6906C25.0107 10.7925 24.9454 10.8794 24.8558 10.9325C21.7778 12.7403 21.7778 17.2597 24.8558 19.0695C24.9449 19.1225 25.0098 19.2091 25.0367 19.3105C25.0635 19.4119 25.0501 19.52 24.9993 19.6114L23.4229 22.387C23.3708 22.4776 23.2857 22.5437 23.186 22.571C23.0863 22.5983 22.9801 22.5847 22.8903 22.533C19.8123 20.7232 15.9637 22.9829 15.9637 26.5965C15.9637 26.7022 15.9226 26.8036 15.8493 26.8786C15.776 26.9535 15.6765 26.9959 15.5726 26.9964H12.4258C12.3215 26.9964 12.2215 26.9543 12.1478 26.8793C12.0741 26.8043 12.0327 26.7025 12.0327 26.5965C12.0327 22.9809 8.18418 20.7212 5.10616 22.529C5.01613 22.5813 4.90944 22.5953 4.80931 22.568C4.70918 22.5406 4.62372 22.4742 4.57153 22.383L2.99911 19.6074C2.94814 19.5162 2.93442 19.4083 2.96089 19.307C2.98736 19.2056 3.05191 19.1189 3.14063 19.0655C6.21865 17.2557 6.21865 12.7363 3.14063 10.9265C3.0521 10.8735 2.98751 10.7873 2.96069 10.6863C2.93387 10.5854 2.94696 10.4778 2.99714 10.3866L4.57153 7.60898C4.62404 7.51818 4.70965 7.45213 4.80975 7.42517C4.90985 7.39821 5.01637 7.41253 5.10616 7.465C8.18418 9.27476 12.0327 7.01306 12.0327 3.39755C12.0327 3.17758 12.2076 2.9996 12.4238 2.9996ZM9.08439 3.39955C9.08439 1.5198 10.5782 0 12.4238 0H15.5706C17.4182 0 18.912 1.5198 18.912 3.39955C18.9126 3.69744 18.9901 3.98994 19.1368 4.24774C19.2835 4.50555 19.4942 4.71961 19.7479 4.86847C20.0015 5.01733 20.2891 5.09577 20.5819 5.09593C20.8747 5.09608 21.1624 5.01795 21.4161 4.86935C22.1831 4.41992 23.0941 4.29848 23.949 4.53168C24.8039 4.76488 25.533 5.33366 25.9762 6.11318L27.5525 8.88881C28.4743 10.5146 27.926 12.5903 26.33 13.5282C26.0761 13.6774 25.8653 13.892 25.7187 14.1503C25.5722 14.4087 25.495 14.7017 25.495 15C25.495 15.2983 25.5722 15.5913 25.7187 15.8497C25.8653 16.108 26.0761 16.3226 26.33 16.4718C27.0961 16.9227 27.6552 17.6644 27.8844 18.5342C28.1136 19.404 27.9943 20.3308 27.5525 21.1112L25.9762 23.8868C25.533 24.6663 24.8039 25.2351 23.949 25.4683C23.0941 25.7015 22.1831 25.5801 21.4161 25.1306C21.1624 24.9821 20.8747 24.9039 20.5819 24.9041C20.2891 24.9042 20.0015 24.9827 19.7479 25.1315C19.4942 25.2804 19.2835 25.4944 19.1368 25.7523C18.9901 26.0101 18.9126 26.3026 18.912 26.6005C18.912 28.4782 17.4182 30 15.5726 30H12.4258C11.5399 29.9995 10.6905 29.6411 10.0643 29.0036C9.43812 28.3661 9.08635 27.5017 9.08635 26.6005C9.08577 26.3026 9.00825 26.0101 8.86156 25.7523C8.71487 25.4944 8.50416 25.2804 8.25054 25.1315C7.99693 24.9827 7.70932 24.9042 7.41652 24.9041C7.12373 24.9039 6.83604 24.9821 6.58227 25.1306C5.81526 25.5801 4.90431 25.7015 4.04939 25.4683C3.19446 25.2351 2.4654 24.6663 2.02224 23.8868L0.445884 21.1112C0.00414423 20.3308 -0.115221 19.404 0.113988 18.5342C0.343198 17.6644 0.902253 16.9227 1.66844 16.4718C1.92185 16.3225 2.13222 16.108 2.27846 15.8498C2.4247 15.5917 2.50168 15.299 2.50168 15.001C2.50168 14.703 2.4247 14.4103 2.27846 14.1522C2.13222 13.894 1.92185 13.6795 1.66844 13.5302C0.902253 13.0793 0.343198 12.3376 0.113988 11.4678C-0.115221 10.598 0.00414423 9.67117 0.445884 8.89081L2.02027 6.11318C2.46343 5.33366 3.19249 4.76488 4.04742 4.53168C4.90235 4.29848 5.81329 4.41992 6.5803 4.86935C6.83407 5.01795 7.12176 5.09608 7.41456 5.09593C7.70735 5.09577 7.99496 5.01733 8.24858 4.86847C8.50219 4.71961 8.7129 4.50555 8.85959 4.24774C9.00628 3.98994 9.0838 3.69744 9.08439 3.39955ZM16.9465 14.998C16.9465 15.7935 16.6359 16.5565 16.083 17.119C15.5301 17.6816 14.7802 17.9976 13.9982 17.9976C13.2163 17.9976 12.4664 17.6816 11.9135 17.119C11.3605 16.5565 11.0499 15.7935 11.0499 14.998C11.0499 14.2025 11.3605 13.4395 11.9135 12.877C12.4664 12.3144 13.2163 11.9984 13.9982 11.9984C14.7802 11.9984 15.5301 12.3144 16.083 12.877C16.6359 13.4395 16.9465 14.2025 16.9465 14.998ZM19.8948 14.998C19.8948 16.5891 19.2736 18.115 18.1677 19.2401C17.0619 20.3651 15.5621 20.9972 13.9982 20.9972C12.4343 20.9972 10.9345 20.3651 9.8287 19.2401C8.72287 18.115 8.10162 16.5891 8.10162 14.998C8.10162 13.4069 8.72287 11.881 9.8287 10.7559C10.9345 9.63086 12.4343 8.9988 13.9982 8.9988C15.5621 8.9988 17.0619 9.63086 18.1677 10.7559C19.2736 11.881 19.8948 13.4069 19.8948 14.998Z" fill="currentColor"/>
                                    </svg>
                                </span>
                                <span class="content-text-header">Function</span>
                                <span class="content-text-main">Design must work as well as it looks. Function defines how something behaves, translating form into experience and transforming ideas into&nbsp;interaction.</span>
                                <span class="content-text-secondary">It ensures design is intuitive, reliable, and alive in use, adapting seamlessly to the needs of those who engage with it. When function operates in harmony with purpose and aesthetic, design becomes effortless, creating experiences that feel natural, responsive, and&nbsp;human.</span>
                            </article>
                        </figure>
                    </div>
                    <div class="media-wrapper-bottom-gradient"></div>
                </aside>
            </div>
        </section>
    </div>
    

    <Fragment slot="infoModal">
        <p>For the main structure, we have two main sections: the data and the media that correspond with each bullet point.</p> 
        <p>For the header and bullet section, each bullet is a simple div with a rounded border radius. Inside each custom bullet, another div absolutely fills the bullet container. The bullet fill is animated using CSS keyframes and triggered via JavaScript.</p> 
        <p>The first bullet is given an extra hardcoded class of "active." The active class applies special properties such as white text to the current bullet. During the animation, JavaScript loops through each of the bullets, removes the active class from all of them, and applies it to the next item in the array. Since we select our bullets and media using querySelector in JavaScript, we can use the returned array and its [index] to keep track of which items we’re on and match each bullet to its corresponding image or media element.</p> 
        <p>An if/else statement within the JavaScript function determines whether to play the bullet fill animation via CSS keyframes when the animation runs normally. An event listener detects when a user clicks a bullet. If clicked, that bullet will fill completely, and a setTimeout pauses the animation loop for ten seconds before resuming continuous playback.</p> 
        <p>To achieve infinite looping, we use (currentIndex + 1) % allSectionItems.length. Since we’re looping through an array starting with [index], the slide number is stored in currentIndex. We add one to advance to the next slide. The modulo operator then returns the remainder. When the index reaches the end, for example, 4 % 4 = 0, the 0 brings the sequence back to the first item, creating a seamless loop.</p>
    </Fragment>

</BaseLayout>