---
import "../../styles/indexWIP.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Home</title>
    <link rel="canonical" href="https://www.designcanon.dev/">
    <script src="../../scripts/indexWIP.js"></script>
</head>
<body>
    <nav>
        <a href="./index.html">
            <div class="logo">Design Canon</div>
        </a>
        <div class="social-icons">
            <a href="https://github.com/jpeerson108" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22" fill="none">
                <path d="M22 8V14H21V16H20V18H19V19H18V20H17V21H15V22H14V17H13V16H14V15H16V14H17V13H18V8H17V5H15V6H14V7H13V6H9V7H8V6H7V5H5V8H4V13H5V14H6V15H8V17H6V16H5V15H3V16H4V18H5V19H8V22H7V21H5V20H4V19H3V18H2V16H1V14H0V8H1V6H2V4H3V3H4V2H6V1H8V0H14V1H16V2H18V3H19V4H20V6H21V8H22Z" fill="currentColor"/></svg>
            </a>
        </div>
    </nav>
    <section class="projects">
        <div class="projects-container">
            <a href="./expandCollapse/expandCollapse.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Expand / Collapse</div>
                        <div class="projects-category">
                            Accordian
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/expandCollapse1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./scrollTextReveal/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Scroll Text Reveal with Preloaders</div>
                        <div class="projects-category">
                            Text Effects
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/scrollTextReveal1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./pageTransitionBoxes/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Box Page Transition</div>
                        <div class="projects-category">
                            Transition: Page
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/boxPageTransition1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./boxScrollTransition/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Box Section Transition</div>
                        <div class="projects-category">
                            Transition: Section
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/boxSectionTransition1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./pageTransitionVertBoxes/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Columns Page Transition</div>
                        <div class="projects-category">
                            Transition: Page
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/columnsPageTransiton1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./marqueeScrollBased/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Infinite Marquee (Scroll Based)</div>
                        <div class="projects-category">
                            ScrollTrigger
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/marqueeScrollBased1.jpg" alt="">
                    </div>
                </div>
            </a>
            <a href="./scrollIndicatorVertical/index.html">
                <div class="projects-card">
                    <div class="projects-info">
                        <div class="projects-title">Scroll Progress Indicator</div>
                        <div class="projects-category">
                            Vanilla JS
                        </div>
                    </div>
                    <div class="projects-image">
                        <img src="./designCanon/assets/scrollIndicator.jpg" alt="">
                    </div>
                </div>
            </a>
        </div>
    </section>
    <div class="footer">
        <p>100% Hand-Coded</p>
        <p>Purpose + Aesthetic + Function</p>
    </div>
</body>
</html>