---
import BaseLayout from "../layouts/baseLayout.astro";
import ContentGrid from "@/components/contentGrid.astro";
import NavMain from "@/components/navMain.astro";
import FooterMain from "@/components/footerMain.astro";
import "../styles/index.css";
---

<BaseLayout title="Home">
    
    <NavMain 
    inspirationLinkHref="/inspiration"
    buttonsLinkHref="/buttons"
    infoLinkHref=""
    tutorialsLinkHref=""
    githubLinkHref="https://github.com/jpeerson108"
    twitterLinkHref=""
    linkedinLinkHref="https://www.linkedin.com/company/design-canon"
    instagramLinkHref=""
    youtubeLinkHref=""
    emailLinkHref="mailto:contact@designcanon.com?subject=Inquiry%20from%20Design%20Canon%20Website" />

    <div class="container">
        <section class="intro-text">
        <p>An ongoing study in subtle button interactions designed to create a signature impression.</p>
    </section>

    <ContentGrid 
        dataFile="/data/content-buttons.json"/>
    </div>

    <FooterMain></FooterMain>

</BaseLayout>