---
import "../../styles/global.css";
import "../../styles/indexWIP.css";
import NavMain2 from "@/components/navMain2.astro";
import ContentGrid from "@/components/contentGrid.astro";
---
<script type="module" src="/scripts/inspiration.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Home</title>
</head>
<body>
    <NavMain2 />
    <div class="container">
        <section class="intro-text">
        <p>A growing archive of websites that push the boundaries of design and interaction.</p>
        </section>
    </div>
    <ContentGrid dataFile="/data/content-inspiration.json" />
</body>
</html>