---
import "../styles/global.css";
import NavMain from "@/components/navMain.astro";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Resources</title>
    <script type="module" src="/scripts/navMain.js"></script>
</head>
<body>
    <NavMain />
</body>
</html>