---
import BaseLayout from "../../layouts/baseLayout.astro";
import ContentGrid from "@/components/contentGrid.astro";
import "../../styles/index.css";
---
<script type="module" src="/scripts/inspiration.js"></script>
<BaseLayout title="Inspiration">
    <section class="intro-text">
        <p>A growing archive of websites that push the boundaries of design and interaction.</p>
        </section>
    <ContentGrid dataFile="/data/content-inspiration.json" />
    <div class="spacer-large"></div>
</BaseLayout>