---
import "../styles/contentGrid.css";
---
<script type="module" src="/scripts/contentGrid.js"></script>
<body>
    <section class="filter-track"></section>
    <section class="component-grid" id="componentGrid"></section>
</body>
</html>