---
import "@/styles/contentGrid.css";
---
<script type="module" src="/scripts/contentGrid.js"></script>
<body>
    <div class="container">
        <section class="filter-track">
            <div class="filter-track-left">
                <div class="filter-track-sort-container">
                    <button class="sort-button">Sort
                        <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 145" fill="none">
                        <path d="M72.5 0C80.2776 5.82583e-05 86.583 6.30536 86.583 14.083V59.46H130.917C138.695 59.46 145 65.7653 145 73.543C145 81.3206 138.695 87.626 130.917 87.626H86.583V130.917C86.583 138.695 80.2776 145 72.5 145C64.7223 145 58.417 138.695 58.417 130.917V87.626H14.083C6.30534 87.626 2.45477e-05 81.3206 0 73.543C0 65.7653 6.30533 59.46 14.083 59.46H58.417V14.083C58.417 6.30533 64.7223 -3.39973e-07 72.5 0Z" fill="currentColor"/>
                        </svg>
                    </span>
                    </button>
                    <div class="sort-expanded-menu">
                        <ul>
                            <li><button data-sort="newest">New</button></li>
                            <li><button data-sort="oldest">Old</button></li>
                            <li><button data-sort="az">A → Z</button></li>
                            <li><button data-sort="za">Z → A</button></li>
                        </ul>
                    </div>
                </div>
                <div class="filter-track-categories">
                    <div class="filter-track-categories-inner"></div>
                    <div class="filter-track-categories-fade-left"></div>
                    <div class="filter-track-categories-fade-right"></div>
                    <div class="filter-track-categories-arrow-left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 145" fill="none">
                        <path d="M165.722 62.1426L165.722 82.8584L145.006 82.8584L145.006 103.573L124.291 103.573L124.291 82.8584L8.14889e-06 82.8584L1.08654e-05 62.1426L165.722 62.1426ZM145.006 41.4268L145.006 62.1416L124.291 62.1416L124.291 41.4268L145.006 41.4268ZM124.297 103.574L124.297 124.289L103.582 124.289L103.582 103.574L124.297 103.574ZM124.297 20.711L124.297 41.4258L103.582 41.4258L103.582 20.711L124.297 20.711ZM82.8643 124.285L103.579 124.285L103.579 145L82.8643 145L82.8643 124.285ZM103.579 1.35828e-05L103.579 20.7149L82.8643 20.7149L82.8643 1.08663e-05L103.579 1.35828e-05Z" fill="currentColor"/>
                        </svg>
                    </div>
                </div>
                <div class="filter-track-categories-arrow-right">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 145" fill="none">
                    <path d="M165.722 62.1426L165.722 82.8584L145.006 82.8584L145.006 103.573L124.291 103.573L124.291 82.8584L8.14889e-06 82.8584L1.08654e-05 62.1426L165.722 62.1426ZM145.006 41.4268L145.006 62.1416L124.291 62.1416L124.291 41.4268L145.006 41.4268ZM124.297 103.574L124.297 124.289L103.582 124.289L103.582 103.574L124.297 103.574ZM124.297 20.711L124.297 41.4258L103.582 41.4258L103.582 20.711L124.297 20.711ZM82.8643 124.285L103.579 124.285L103.579 145L82.8643 145L82.8643 124.285ZM103.579 1.35828e-05L103.579 20.7149L82.8643 20.7149L82.8643 1.08663e-05L103.579 1.35828e-05Z" fill="currentColor"/>
                    </svg>
                </div>
            </div>
            <div class="filter-track-right">
                <form class="filter-track-search" action="/search" method="get">
                <input class="search-input" type="search" placeholder="Search" aria-label="Search">
                <button type="submit">
                    <div class="search-icon">
                        <svg viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M64.4963 1.45455e-07C54.2109 0.000876369 44.0748 2.46133 34.9337 7.17608C25.7926 11.8908 17.9115 18.7232 11.9481 27.103C5.98468 35.4829 2.11177 45.1674 0.652495 55.3484C-0.806776 65.5294 0.189911 75.9117 3.5594 85.6292C6.92889 95.3467 12.5735 104.118 20.0222 111.21C27.471 118.302 36.5079 123.511 46.379 126.401C56.2501 129.29 66.6692 129.778 76.767 127.822C86.8648 125.866 96.3484 121.524 104.427 115.158L132.14 142.87C133.571 144.252 135.488 145.017 137.477 145C139.467 144.982 141.37 144.184 142.777 142.777C144.184 141.371 144.982 139.467 145 137.478C145.017 135.488 144.252 133.571 142.87 132.14L115.157 104.428C122.654 94.9174 127.322 83.488 128.627 71.4481C129.932 59.4081 127.82 47.2441 122.534 36.348C117.249 25.452 109.002 16.2641 98.7377 9.83601C88.4737 3.40789 76.6072 -0.000813021 64.4963 1.45455e-07ZM15.1714 64.4994C15.1714 51.4181 20.3681 38.8726 29.6183 29.6227C38.8686 20.3728 51.4146 15.1763 64.4963 15.1763C77.5781 15.1763 90.1241 20.3728 99.3743 29.6227C108.625 38.8726 113.821 51.4181 113.821 64.4994C113.821 77.5807 108.625 90.1262 99.3743 99.376C90.1241 108.626 77.5781 113.822 64.4963 113.822C51.4146 113.822 38.8686 108.626 29.6183 99.376C20.3681 90.1262 15.1714 77.5807 15.1714 64.4994Z" fill="currentColor"/>
                        </svg>
                    </div>
                </button>
            </form>
            </div>
        </section>
        <section class="content-grid" id="contentGrid"></section>
    </div>
</body>
</html>