---
import "@/styles/footerMain.css";
---
<footer class="footer-container">
    <div class="footer-left">© 2025 Design Canon</div>
    <div class="footer-middle">
        <ul>
            <li><a href="https://github.com/jpeerson108" target="_blank" rel="noopener noreferrer">Github</a></li>
            <li><a href="https://www.linkedin.com/company/design-canon" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="mailto:contact@designcanon.com?subject=Inquiry%20from%20Design%20Canon%20Website" target="_blank" rel="noopener noreferrer">Email</a></li>
        </ul>
    </div>
    <div class="footer-right">Created by <span><a href="https://www.linkedin.com/in/jaret-peerson/" target="_blank" rel="noopener noreferrer">Jaret</a></span></div>
</footer>