---
import "@/styles/infoModal.css";
const slotContent = await Astro.slots.render('default');
const hasContent = slotContent.trim().length > 0;
---

{hasContent && (
    <>
        <script type="module" src="/scripts/infoModal.js"></script>

        <button id="info-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 145" fill="none">
                <path d="M72.5 108.75C74.5541 108.75 76.2772 108.054 77.6692 106.662C79.0612 105.27 79.7548 103.549 79.75 101.5V72.5C79.75 70.4458 79.054 68.7251 77.662 67.338C76.27 65.9508 74.5493 65.2548 72.5 65.25C70.4506 65.2451 68.73 65.9412 67.338 67.338C65.946 68.7348 65.25 70.4555 65.25 72.5V101.5C65.25 103.554 65.946 105.277 67.338 106.669C68.73 108.061 70.4506 108.755 72.5 108.75ZM72.5 50.75C74.5541 50.75 76.2772 50.054 77.6692 48.662C79.0612 47.27 79.7548 45.5493 79.75 43.5C79.7451 41.4507 79.0491 39.73 77.662 38.338C76.2748 36.946 74.5541 36.25 72.5 36.25C70.4458 36.25 68.7251 36.946 67.338 38.338C65.9508 39.73 65.2548 41.4507 65.25 43.5C65.2451 45.5493 65.9411 47.2724 67.338 48.6692C68.7348 50.0661 70.4555 50.7597 72.5 50.75ZM72.5 145C62.4708 145 53.0458 143.096 44.225 139.287C35.4042 135.478 27.7312 130.314 21.2062 123.794C14.6813 117.274 9.51684 109.601 5.71301 100.775C1.90918 91.9493 0.00484251 82.5243 9.17721e-06 72.5C-0.00482415 62.4756 1.89951 53.0507 5.71301 44.225C9.5265 35.3993 14.6909 27.7264 21.2062 21.2062C27.7216 14.6861 35.3945 9.52167 44.225 5.713C53.0555 1.90433 62.4805 0 72.5 0C82.5195 0 91.9444 1.90433 100.775 5.713C109.605 9.52167 117.278 14.6861 123.794 21.2062C130.309 27.7264 135.476 35.3993 139.294 44.225C143.112 53.0507 145.014 62.4756 145 72.5C144.985 82.5243 143.081 91.9493 139.287 100.775C135.493 109.601 130.328 117.274 123.794 123.794C117.259 130.314 109.586 135.481 100.775 139.294C91.9638 143.108 82.5388 145.01 72.5 145ZM72.5 130.5C88.6916 130.5 102.406 124.881 113.644 113.644C124.881 102.406 130.5 88.6916 130.5 72.5C130.5 56.3083 124.881 42.5937 113.644 31.3562C102.406 20.1187 88.6916 14.5 72.5 14.5C56.3083 14.5 42.5937 20.1187 31.3562 31.3562C20.1187 42.5937 14.5 56.3083 14.5 72.5C14.5 88.6916 20.1187 102.406 31.3562 113.644C42.5937 124.881 56.3083 130.5 72.5 130.5Z" fill="currentColor"/>
            </svg>
        </button>

        <div class="dialog-container">
            <div class="dialog-box">
                <div class="dialog-content-container">
                    <div class="dialog-header-container">
                        <div class="dialog-header">About This Component</div>
                        <div class="dialog-close-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 145" fill="none">
                                <path d="M72.5 0C80.2776 5.82583e-05 86.583 6.30536 86.583 14.083V59.46H130.917C138.695 59.46 145 65.7653 145 73.543C145 81.3206 138.695 87.626 130.917 87.626H86.583V130.917C86.583 138.695 80.2776 145 72.5 145C64.7223 145 58.417 138.695 58.417 130.917V87.626H14.083C6.30534 87.626 2.45477e-05 81.3206 0 73.543C0 65.7653 6.30533 59.46 14.083 59.46H58.417V14.083C58.417 6.30533 64.7223 -3.39973e-07 72.5 0Z" fill="currentColor"/>
                            </svg>
                        </div>
                    </div>
                    <div class="dialog-body-container">
                        <div class="dialog-body" set:html={slotContent}></div>
                        <div class="dialog-body-gradient-top"></div>
                        <div class="dialog-body-gradient-bottom active"></div>
                    </div>
                </div>
            </div>
            <div class="dialog-container-backdrop"></div>
        </div>
    </>
)}