---
import "../styles/navMainPages.css";
---
<div class="btn-container" id="navMenu">
    <!-- Left Box -->
    <div class="btn">
        <ul class="btn-list">
            <a href="https://www.designcanon.dev/navGlobal2/navGlobal2.html" class="btn-wrapper">
                <div class="btn-icon"></div>
                <div class="btn-text-expand">Home</div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
                <div class="btn-text-expand">About</div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
                <div class="btn-text-expand">Resources</div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
                <div class="btn-text-expand">Tutorials</div>
            </a>
        </ul>
    </div>
</div>
<!-- Center Box -->
<div class="btn-container" id="socialMenu">
    <div class="btn">
        <ul class="btn-list">
            <a href="https://www.designcanon.dev/navGlobal2/navGlobal2.html" class="btn-wrapper">
                <div class="btn-text">Design Canon</div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
            </a>
            <a href="#" class="btn-wrapper">
                <div class="btn-icon"></div>
            </a>
        </ul>
    </div>
</div>
<!-- Right Box -->
    <div class="btn-container" id="searchMenu">
    <div class="btn">
        <form class="btn-list">
            <input type="search" id="btn-search" placeholder="Search" aria-label="Search">
            <a href="#" class="btn-wrapper search">
                <div class="btn-icon"></div>
            </a>
        </form>
    </div>
</div>