:root {
  --button-font-size: 1rem;
}

.button-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Reset */
button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "JetBrains Mono", monospace;
  font-size: var(--button-font-size);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -.2px;
  padding: calc(.7 * var(--button-font-size)) calc(1.3 * var(--button-font-size));
  border: 1px solid var(--color-main-border);
  border-radius: var(--rounded-corners-med);
  color: white;
}
