---
import "../../../styles/components/verticalScrollTrigger.css";
---

<script defer src="../../scripts/components/verticalScrollTrigger.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/Observer.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>

<div class="scroll-trigger-container">
        <div class="left-side">
            <div class="slides">
                <div class="slide">
                    <img src="/public/assets/textures/texture-4.jpeg" alt="" class="slide-img">
                </div>
                <div class="slide">
                    <img src="/public/assets/textures/texture-20.png" alt="" class="slide-img">
                </div>
                <div class="slide">
                    <img src="/public/assets/textures/texture-14.png" alt="" class="slide-img">
                </div>
                <div class="slide">
                    <img src="/public/assets/textures/texture-16.png" alt="" class="slide-img">
                </div>
            </div>

            <div class="instruction">
                Stroll to navigate
            </div>
        </div>

        <div class="right-side">
            <div class="content">
                <h1 class="title">Where Motion Becomes Meaning</h1>
                <div class="description">
                <p>Movement is meant to express, to create a sense of flow that mirrors the way ideas unfold in the&nbsp;mind.</p>
                <p>Each reveal becomes a quiet act of storytelling, teaching us that beauty is not in the destination but in the transition. This is where design becomes more than aesthetic, where motion becomes meaning, and where curiosity keeps the whole thing&nbsp;alive.</p>
                </div>
            </div>
        </div>
    </div>