---
import "../../../styles/components/pageTransitionViewAPI.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script defer src="../../../scripts/components/pageTransitionViewAPI.js"></script>
</head>
<body>
        <nav>
        <div class="logo">
            <div class="link"><a href="./index.html">Home</a></div>
        </div>
        <div class="links">
            <div class="link"><a href="./about.html">About</a></div>
            <div class="link"><a href="./work.html">Work</a></div>
        </div>
    </nav>
    <div class="container">
        <div class="info">
            <div class="col">
                <img src="./assets/image 20.jpg" alt="">
            </div>
            <div class="col">
                <p>Design Canon is guided by three core domains:<br>
                Purpose → Aesthetic → Function</p>
                <p>These are the fundamentals, the canon, from which all design flows.<br>
                Not passing trends or fleeting styles, but enduring truths that outlast tools and trends.</p>
                <p>Design Canon is built on the conviction that when design fulfills these domains, it reaches its highest form: clear in purpose, beautiful in aesthetic, and flawless in function. The canon reveals itself through this process.</p>
                <p>The canon of design is not an abstraction but a model to be followed, a framework that unites aesthetic and function through process.</p>
                <p>Our mission is simple:<br>
                To bridge aesthetic and function, guided by the canon of design.</p>
            </div>
        </div>
    </div>
</body>
</html>