---
import "../../styles/pageTransitionViewAPI.css";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <script defer src="../../scripts/pageTransitionViewAPI.js"></script>
</head>
<body>
        <nav>
        <div class="logo">
            <div class="link"><a href="./index.html">Home</a></div>
        </div>
        <div class="links">
            <div class="link"><a href="./about.html">About</a></div>
            <div class="link"><a href="./work.html">Work</a></div>
        </div>
    </nav>
    <div class="container">
        <div class="images">
            <img src="./assets/image 21.jpg" alt="" />
            <img src="./assets/image 22.jpg" alt="" />
            <img src="./assets/image 23.jpg" alt="" />
            <img src="./assets/image 30.jpg" alt="" />
        </div>
    </div>
</body>
</html>