---
const { title } = Astro.props;
import "../styles/global.css";
import "../styles/globalPageTransition.css";
import InfoModal from "@/components/infoModal.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/svg/designcanon-favicon.svg" />
    <title>{title ? `Toggle Triggers | ${title}`: "Toggle Triggers"}</title>
  </head>
  <body>

    <InfoModal>
      <slot name="infoModal" />
    </InfoModal>

    <div class="page-content">
      <slot />
    </div>

  </body>
</html>