---
const { title } = Astro.props;
import "../styles/global.css";
import NavSecondary from "@/components/navSecondary.astro";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/svg/designcanon-favicon.svg" />
    <title>{title ? `${title} | Design Canon` : "Design Canon"}</title>
  </head>
  <body>
    <NavSecondary />
    <slot />
  </body>
</html>