<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design Canon | Sticky Scrolling Sections</title>
    <link rel="stylesheet" href="./stickyScrollingSections.css">
    <script defer src="./stickyScrollingSections.js"></script>
</head>
<body>
    <div class="container">
        <div class="map">
            <div class="s-1">
                <p>01</p>
                <p>Title Here</p>
            </div>
            <div class="s-2">
                <p>02</p>
                <p>Title Here</p>
            </div>
            <div class="s-3">
                <p>03</p>
                <p>Title Here</p>
            </div>
            <div class="s-4">
                <p>04</p>
                <p>Title Here</p>
            </div>
            <div class="s-5">
                <p>05</p>
                <p>Title Here</p>
            </div>
            <div class="s-6">
                <p>06</p>
                <p>Title Here</p>
            </div>
            <div class="s-7">
                <p>07</p>
                <p>Title Here</p>
            </div>
            <div class="s-8">
                <p>08</p>
                <p>Title Here</p>
            </div>
        </div>

        <div class="sections">
            <div class="section-1 sec">
                <div class="header">
                    <p>01</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                    </h1>
                </div>
            </div>
            <div class="section-2 sec">
                <div class="header">
                    <p>02</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="section-3 sec">
                <div class="header">
                    <p>03</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="section-4 sec">
                <div class="header">
                    <p>04</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                    </h1>
                </div>
            </div>
            <div class="section-5 sec">
                <div class="header">
                    <p>05</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="section-6 sec">
                <div class="header">
                    <p>06</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="section-7 sec">
                <div class="header">
                    <p>07</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="section-8 sec">
                <div class="header">
                    <p>08</p>
                    <p>Title Here</p>
                </div>
                <div class="copy">
                    <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <br /><br />
                <h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas adipisci cum autem placeat inventore hic totam, quo!
                </h1>
                </div>
            </div>
            <div class="whitespace"></div>
        </div>
    </div>
</body>
</html>